<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{tit}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">Name</ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-padding no-lines>
        <ion-input type="text" [(ngModel)]="data.name" name="name"  (ionChange)='onChangeName(data.name)'
         placeholder="Name" class="ionform"></ion-input>
       </ion-item>
    	  </ion-col>
        <div class="error">{{error.name}}</div>
        </ion-row>


<!--         <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="data.catt_sur_name" name="name" 
        (ionChange)='onChangeSurName(data.catt_sur_name)'
        placeholder="Last Name" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.sur_name}}</div>
        </ion-row>
 -->

        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">Email Address</ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-padding no-lines>
        <ion-input type="Email" [(ngModel)]="data.email" name="email" placeholder="Email Address" 
        (ionChange)='onChangeemail(data.email)' class="ionform"></ion-input>
      </ion-item>
    	 </ion-col>
       <div class="error">{{error.email}}</div>
        </ion-row>

        <ion-row>
      	<ion-col col-12>
        <ion-label class="ionformlabel lab">Phone Number</ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-padding no-lines>
        <ion-input type="tel" (ionChange)='onChangenumber(data.phone)' [(ngModel)]="data.phone" name="number" pattern="[0-9]" maxlength="10" placeholder="Phone Number" class="ionform"></ion-input>
        </ion-item>
    	 </ion-col>
       <div class="error">{{error.phone}}</div>
        </ion-row>



    <button class="submitbtn b" (click)="updateProfile()">UPDATE</button>
    
</ion-content>
