<ion-header>
  <ion-navbar color="primary">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Cart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<ng-container *ngIf="cart_Items?.length == 0">
  <ion-row>
  <img src="assets/imgs/emptycart.png" class="img">
  </ion-row>
  <!-- <p style="font-size: large;margin-top:50%" text-center>Your Cart Is Empty !</p> -->
  <ion-row>
  <button ion-button type="submit" block class="submitbtn"  class="em" (click)="toMenu()">Shop Now</button>
  </ion-row>
</ng-container>
<ng-container *ngIf="cart_Items?.length > 0">
<div class="box">
<div class="cart" *ngFor="let cart of cart_Items;let i = index">
<ion-row>
<ion-col col-10 style="font-weight: bold;">
{{cart.menu_list.menu_name}}
</ion-col>
<ion-col col-2 align-self-end (click)="deleteItem(cart)">
<ion-icon name="appname-custo1" style="float: right;color:#b98d36"></ion-icon>
</ion-col>
</ion-row>

<ion-row>
<ion-col col-9 style="font-size: smaller;font-weight: 400;">
Min - {{minVal}} : Max - {{maxVal}}
</ion-col>
<ion-col col-3 style="text-align: end;font-weight: bold;float: right;">
₹ {{numberWithCommas(cart.price)}}
</ion-col>
</ion-row>

<ion-row>
<ion-col col-6 class="vegcol" style="padding:0px">
<img alt="" *ngIf="cart.menu_list.is_veg == true" src="assets/imgs/menu/veg.png">
      <img alt="" *ngIf="cart.menu_list.is_veg == false" src="assets/menu_dot_red.png">
    <ng-container *ngIf="cart.menu_list.is_veg == true"><p style="margin-top: 8px;font-size: smaller;">VEGETARIAN</p></ng-container>
      <ng-container *ngIf="cart.menu_list.is_veg == false"><p style="margin-top: 8px;font-size: smaller;">NON-VEGETARIAN</p> </ng-container>
</ion-col>
<ion-col col-3 style="text-align: center;">
<button (click)="minus(i,cart.quantity,cart.cart_id)" style="border-radius: 3px;">-</button>&nbsp;&nbsp;{{cart.quantity}}&nbsp;&nbsp;<button (click)="plus(i,cart.quantity,cart.cart_id)" style="border-radius: 3px;">+</button>
</ion-col>	
<ion-col col-3 style="font-weight: 200;text-align: end;font-size: 1rem;">
Per Person
</ion-col>
</ion-row>
</div>
</div>

<ion-card>
<ion-row>
<ion-col col-2>

</ion-col>    
<ion-col col-6 style="margin: 10px;text-align: -webkit-right;">
<p>PROMO CODE</p>
</ion-col>
<ion-col col-4></ion-col>
</ion-row>  
<hr>
<ion-row style="margin: 5px 0 5px 0;">
<ion-col col-2>

</ion-col>	
<ion-col col-6 style="text-align: -webkit-right;">
<p>Gross total</p>
</ion-col>
<ion-col col-1>

</ion-col>
<ion-col col-3 style="text-align: right;right: 10px;">
<p>₹ {{numberWithCommas(total)}}</p>
</ion-col>
</ion-row>
<ion-row style="margin: 5px 0 5px 0;">
<ion-col col-2>

</ion-col>  
<ion-col col-6 style="text-align: -webkit-right;">
<p>Platos Convenience fee</p>
</ion-col>
<ion-col col-1>

</ion-col>
<ion-col col-3 style="text-align: right;right: 10px;">
<p>₹ 40.00</p>
</ion-col>
</ion-row>

<hr>
<ion-row style="margin: 5px 0 5px 0;">
<ion-col col-4>

</ion-col>	
<ion-col col-4 style="text-align: -webkit-right;">
<strong>Net Total</strong>
</ion-col>
<ion-col col-1>

</ion-col>
<ion-col col-3 style="text-align: right;right: 10px;">
<strong>₹ {{numberWithCommas(total)}}</strong>
</ion-col>
</ion-row>

<ion-row style="margin: 5px 0 5px 0;">
<ion-col col-2>

</ion-col>  
<ion-col col-6 style="text-align: -webkit-right;">
<p>For 3 Person</p>
</ion-col>
<ion-col col-1>

</ion-col>
<ion-col col-3 style="text-align: right;right: 10px;">
<p>₹ 7500</p>
</ion-col>
</ion-row>
<hr>

<ion-row style="margin: 5px 0 5px 0;">
<ion-col col-2>

</ion-col>  
<ion-col col-6 style="text-align: -webkit-right;">
<p>Minimum Order</p>
</ion-col>
<ion-col col-1>

</ion-col>
<ion-col col-3 style="text-align: right;right: 10px;">
<p>5</p>
</ion-col>
</ion-row>


<ion-row style="margin: 5px 0 5px 0;">
<ion-col col-2>

</ion-col>  
<ion-col col-6 style="text-align: -webkit-right;">
<p>Maximum Order</p>
</ion-col>
<ion-col col-1>

</ion-col>
<ion-col col-3 style="text-align: right;right: 10px;">
<p>100</p>
</ion-col>
</ion-row>

</ion-card>

<div style="padding:15px">
<ion-row>
<ion-col col-12>
  (All Prices Are Inclusive Of GST)
</ion-col>  
</ion-row>  
<ion-row>
<ion-col col-12 class="hed">
Instructions
</ion-col>
</ion-row>
<ion-row>
<ul>
	<li class="li">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
	<br>
	<li class="li">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
	<br>
	<li class="li">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
</ul>
</ion-row>
<ion-row style="margin-left: 25px;">
    <ion-label style="margin-left: 30px;font-weight: 500;">Save This Menu For Future Order</ion-label>
    <ion-checkbox [(ngModel)]="is_recommended" checked="true"></ion-checkbox>
</ion-row>

 <button ion-button type="submit" block class="submitbtn"  class="but" (click)="updateCart()">PROCEED</button>
</div>
</ng-container>

</ion-content>
