page-my-cart {
ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/v_delete.png');
    }
     &[class*="appname-custo2"] {
        mask-image: url('../assets/imgs/cart-empty.png');
    }
   }

  .vegcol img {
    float: left;
    max-width: 10px;
    margin: 10px 8px 0 5px;
}

.vegcol{text-transform:uppercase}
.slides{height: 30vh;margin-top: -1vh !important;}
.bu {
 color: #fff;
 background: #b39d36;   
 padding: 5px;
}  

    
.checkbox-md {
    position: absolute;
    display: inline-block;
    margin-top: 11px;
}

.cart{
    padding-left: 13px;
    padding-right: 13px;
    padding: 13px 13px 0px 13px;
    background: #fff;
    border-bottom: 1px solid #dedede;
}

.content-md {
    color: #000;
    background-color: #dedede;
}
.box {
    margin-top: 15px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 7px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.card-md {
    margin-top: 16px;
    margin-left:0px;
    border-radius: 2px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 7px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.hed   {
    color: #b39d36;
    font-weight: bold;
    font-size: larger;  
} 

.li{
    line-height: 1.3;
    font-size: smaller;
    font-weight: 400;
}

ul li::before {
  color: #b39d36; 
}

.but{
        height: 50px;
    margin-top: 20px;
    margin-left: 15px;
    width: 91%;
    font-size: large;
}
.em {
    height: 30px;
    margin-top: 65%;
    margin-left: 145px;
    width: 25%;
    font-size: small;
}

.img {
    max-width: 100%;
    border: 0;
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 50px 0px 0px 120px;
}


}
