page-about {

ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/shopping-cart.png');
    }
    }

.p {
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px 3px 3px 3px;
    top: -5px;
    margin-left: 10px;
    font-size: 13px;
    position: absolute;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    display: block;
}

h3.title {
	color: #ffffff;
	font-size: 18px;
	margin: 0;
}

.iconmenu {
	margin-right: 5px;
}

.iconmenu img {
	max-height: 20px;
}

.text-right {
	text-align: right;
}

.headbanner {
	min-height: 35vh;
	width: 100%;
	position: relative;
	background-position: center !important;
	background-size: cover !important;
	display: table;
}


    

.headbanner::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%
}

.headbanner h2 {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    z-index: 12;
    max-width: 75%;
    text-align: center;
    padding: 0 10%;
    font-weight: 600;
}

p { 
font-size: 16px;
line-height: 22px;
font-weight: 300;
}

.text-justify {
	text-align: justify !important
}

ion-icon[class*="appname-custo1"] {
    background: url(../assets/imgs/shopping-cart.png) no-repeat;
    background-size: 26px auto;
    -webkit-mask-image: none;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
}

}
