<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Platos</ion-title>
         <ion-buttons end>
          <button (click)="buy()" icon-only ion-button>
                <ion-icon name="appname-custo1">
                   <span class="p" *ngIf="Cart_Count > 0">{{Cart_Count}}</span>
                </ion-icon>
            </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
 <div class="headbanner" style="background:url(assets/imgs/header_banner.png) no-repeat">
    <h2>PLATOS</h2>
  </div>
<ion-row padding>
	<ion-col col-12 class="text-justify">
		<p>
			At Platos, we aim to liberate organisations from the clutches of monotonous contractual catering. We provide a marketplace, which values your freedom to choose a different caterer everyday. We have curated a multitude of caterers after vetting them for hygiene to fulfil all your needs. With a web and mobile application to boot, it is hassle-free and completely transparent.
</p>
<p>
Platos is the brainchild of two aspiring entrepreneurs from different ends of the spectrum - Arjun, having completed his Masters in Economics, an alumnus of NYU and LSE, and Raj, a Computer Engineer graduated from Anna University. Backed by serial entrepreneurs with 35 years of industry experience. Thereby, creating a perfect blend of strategy, technology and knowledge to reshape the opaque catering industry.
		</p>
	</ion-col>
</ion-row>

</ion-content>
