<ion-header>

  <ion-navbar color="primary">
  	 <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Orders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-card>
<ion-row>

		<ion-col col-7 style="padding: 15px 0px 15px 15px!important;">
        <p style="color: #b98d36;"><strong>Order No : #23424324234</strong></p>
        <p style="color: #000;"><strong>24th Coffee Break Selection</strong></p>
        <p style="color: #666;font-weight: 300;margin-bottom:8px">Delivered on Dec 12, 2018</p>
       <span>
			<!-- <img alt=""  *ngIf="list.is_veg == true" src="assets/imgs/menu/veg.png"> -->
			
			<!-- <ng-container *ngIf="list.is_veg == true"> VEGETARIAN </ng-container> -->
			<img style="max-width: 5%" src="assets/menu_dot_red.png">
			<p class="flag">NON-VEGETARIAN</p>
		</span>
		</ion-col>

		<ion-col col-5 style="padding: 10px 10px 10px 0px !important;">
			<ion-row justify-content-end>
			<h3 style="float:right;color:#666">Pending</h3>
		    </ion-row>
			<ion-row justify-content-end>
			<p class="but">Paid</p>
			</ion-row>
			<ion-row justify-content-end>
			<p style="float:right"><strong>Total Paid : Rs. 4,000</strong></p>
			</ion-row>	
		</ion-col> 


</ion-row>
</ion-card>
</ion-content>
