page-myorders {
.but {
    color: #008200;
    padding: 2px 3px;
    border: 1px dotted #008200;
    background: transparent;
    height: 25px;
    margin: 10px 0px;
    width: 38px;
    float: right;
    font-weight: bold;
}

.scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    background: #dedede;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
}

.flag{
	position: absolute;
    margin-top: -15px;
    margin-left: 20px;
    font-size: small;
}
.card-md {
    margin-top: 10px;
    border-radius: 2px;
    width: 100%;
    margin-left: 0px;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

}
