<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Caterer Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

   <div [style.background-image]="'url(' + caterer_image + ')'"  style="background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;">     
    </div>

<div padding>
<ion-row>
	<h3>{{cat_Detail.catt_first_name}}</h3>
	<p>Bagels, sandwiches, pastries and salads for the meetings, customer events and much more.</p>
</ion-row>
<ion-row class="mtabborder">
	<ion-col col-2>
      <img src="assets/imgs/cater_mail.png" alt="Mail Icon" class="iconcater">
  </ion-col>
  <ion-col col-10>
      <ion-label>{{cat_Detail.catt_email_address}}</ion-label>
    </ion-col>
</ion-row>
<ion-row class="mtabborder borderbtm">
	<ion-col col-2>
      <img src="assets/imgs/cater_phone.png" alt="Mail Icon" class="iconcater">
  </ion-col>
  <ion-col col-10>
      <ion-label>{{cat_Detail.catt_mobile_no}}</ion-label>
    </ion-col>
</ion-row>
<ion-row>
	<ion-col col-12>
		<h3>Gallery</h3>
	</ion-col>

<ion-col col-12>
<ion-slides loop="false" class="slides" pager="false" style="margin-top:5px" [slidesPerView]=slidesPerView>
  <ion-slide *ngFor="let img of Images" class="shadow">
    <div>
    <div [style.background-image]="'url(' + getImage(img) + ')'" style="background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 90px;">     
    </div>
   <!-- <img src="{{imgPath}}{{img}}" alt="Image" style="width: 100px;height: 90px;"> -->
  </div>
  </ion-slide>
</ion-slides>

	</ion-col>
</ion-row>
</div>
</ion-content>

