page-caterer-info {

.headbanner {
	min-height: 35vh;
	width: 100%;
	position: relative;
	background-position: center !important;
	background-size: cover !important;
	display: table;
}

.headbanner::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%
}

.headbanner h2 {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	z-index: 12;
	max-width: 75%;
	text-align: center;
	padding: 0 10%
}

.mtabborder {
	border-top: 1px solid #ccc
}

.borderbtm {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.iconcater {
	max-width: 24px;
	margin-right: 12px;
	margin: 8px auto 0 auto;
	display: block;
}

.mtabborder:last-child {
	border-bottom: 1px solid #ccc
}

.videoplay {
	position: relative;
	display: block;
}

.videoplay::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
	content: ""
}

.video_play_btn {
	position: absolute;
	top: 50%;
	max-width: 30px;
	margin-top: -15px;
	left: 50%;
	margin-left: -15px;
	z-index: 2
}

  ion-slides {
    height: auto;
  }

  .card-md {
    margin: 15px;
    border-radius: 10px;
    width: 115px;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
       box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
}
