<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>



        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Current Password</ion-label>
         </ion-col>
        <ion-col col-12>
        <ion-item no-lines>    
        <ion-input [type]="passwordType3" [(ngModel)]="data.current_password" (ionChange)='onChangeCurPass(data.current_password)'  name="oldpwd" placeholder="New Password" class="ionform" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon3" class="passwordIcon" (click)='showHidess()'></ion-icon>
        </ion-item>
        </ion-col>
        <div class="error">{{error.current_password}}</div>
        </ion-row>  
   
        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">New Password</ion-label>
         </ion-col>
        <ion-col col-12>
        <ion-item no-lines>    
        <ion-input [type]="passwordType" [(ngModel)]="data.new_password" (ionChange)='onChangeTime(data.new_password)'  name="oldpwd" placeholder="New Password" class="ionform" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()' ></ion-icon>
        </ion-item>
        </ion-col>
        <div class="error">{{error.new_password}}</div>
        </ion-row>  

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Confirm Password</ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>    
        <ion-input [type]="passwordType2" [(ngModel)]="data.confirm_password"  (ionChange)='onChangeTimes(data.confirm_password)'  name="oldpwd" placeholder="Confirm Password" class="ionform" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon2" class="passwordIcon" (click)='showHides()' ></ion-icon>
        </ion-item>
        </ion-col>
        <div class="error">{{error.confirm_password}}</div>
        </ion-row>

      <button ion-button type="submit" block class="submitbtn but" (click)="confirm()" style="height: 45px">Confirm</button>


</ion-content>
