<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Caterer List</ion-title>
   <ion-buttons end (click)="filterPage()">
      <button  ion-button icon-only>
        <ion-icon name="appname-custo2" style="font-size: 1.5em;"></ion-icon>
      </button>
    </ion-buttons>
         <ion-buttons end>
          <button (click)="buy()" icon-only ion-button>
                <ion-icon name="appname-custo1">
                </ion-icon>
                 <!-- <p class="p" *ngIf="Cart_Count > 0">{{Cart_Count}}</p> -->
                 <ion-badge item-end [color]="color" *ngIf="Cart_Count > 0">{{ Cart_Count }}</ion-badge>
            </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>


<!-- 	<ion-searchbar *ngIf="flagStatus"
    [(ngModel)]="searchText"
    [showCancelButton]="true"
    (ionInput)="onFilter($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar> -->


<!-- <ion-row class="bggrey" style="text-align: center;">
	<ion-col col-3 class="rowlink" *ngFor="let menu of mealTypes">
     <a [ngClass]="{'active': menu.selected}" (click)="menu.selected = !menu.selected">{{menu.mealtype_name}}</a>
	</ion-col>
</ion-row> -->


<ng-container *ngIf="menuarray?.length == 0">
<p style="margin-top:40%;font-weight: 400;font-size: medium;" text-center>No Details</p>
</ng-container>	

<ng-container *ngIf="menuarray?.length > 0">	
<ion-card *ngFor="let list of menuarray;" (click)="menuDetail(list)">
<ion-card-content class="cardpad">
	<ion-row class="whitebg">
	<ion-col col-4 *ngIf="list.caterer_image != null && list.caterer_image">
		<div class="bgimg" [style.backgroundImage]="'url('+ getImage(list.caterer_image) +')'" style="    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
<!-- 		<div class="bgimg" *ngIf="!list.menus[0].images[0]" [style.backgroundImage]="'url('+ defaultMenuPic +')'">
		</div>	 -->
		</div>
	</ion-col>
	<ion-col col-4 *ngIf="list.caterer_image == null || list.caterer_image == ''">
		<div class="bgimg" [style.backgroundImage]="'url('+ defaultMenuPic +')'" style="background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
		</div>
	</ion-col>
	<ion-col col-8>
		<img src="assets/imgs/heart.png" *ngIf="!list.wishlist" (click)="list.wishlist = !list.wishlist;$event.stopPropagation()" class="identify">
		<img src="assets/imgs/heart_red.png" *ngIf="list.wishlist" (click)="list.wishlist = !list.wishlist;$event.stopPropagation()" class="identify">
		<h3>{{list.catt_caterering_name | uppercase }}</h3>

		<label><strong>Min</strong> - {{list.catt_min_order}}</label> : <label><strong>Max</strong> - {{list.catt_max_order}}</label>
		<p><strong>Lead time </strong>: {{list.catt_lead_time}} Days</p>
		<span>
			<img alt=""  *ngIf="list.meal_type == 'Veg'" src="assets/imgs/menu/veg.png">
			<img alt="" *ngIf="list.meal_type == 'Non-Veg'" src="assets/menu_dot_red.png">
			<ng-container *ngIf="list.meal_type == 'Veg'"><strong>VEGETARIAN</strong></ng-container>
			<ng-container *ngIf="list.meal_type == 'Non-Veg'"><strong>NON-VEGETARIAN</strong></ng-container>
		</span>
		<button class="" (click)="menuDetail(list);$event.stopPropagation()">View Menus</button>
		<!-- <p *ngIf="list.per_person_cost"><ion-icon name="appname-custo1" style="    font-size: xx-small;"></ion-icon><strong style="color: #000;font-weight: 300;">{{list.per_person_cost}}&nbsp;per person</strong></p> -->
	</ion-col>
</ion-row>
</ion-card-content>
</ion-card>

<ion-infinite-scroll (ionInfinite)="LoadData($event)" *ngIf="infiniteScrollEnabled" >
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ng-container>
</ion-content>
