page-order {
.grbg {
background:#ebebeb
}

.trbg { 
background:transparent
}

.whitebg { 
position:relative
}

h3 {
font-size: 1.4rem !important;
margin: 0 0 0px 0;
}

.whitebg label{
font-size:1.2rem
}

.whitebg p {
    color: #b98d36;
    font-size: 1.2rem;
    font-weight: 500;
}

.rowlink a { 
display: inline-block;
background: #fff;
border-radius: 10px;
color: #333; 
text-decoration: none;
padding: 4px 10px 4px 10px;
margin-right: 5px;
font-size: 14px;
}


.whitebg span {
font-size:1.2rem
}

.whitebg span img{
max-width: 10px;
float: left;
margin: 4px 5px 0 0;
}

button{
background: #b98d35;
padding: 4px 7px;
float: right;
color: #ffffff;
font-size: 1.2rem;
}	

.cardpad{
padding:8px
}

.bgimg {
    height: 80px;
    width: 90px;
    background-size: 100% auto;
    margin-left:2px;
    border-radius: 3px;
}

.identify {
position: absolute;
max-width: 17px;
right: 10px;
}


.card-md h3 {
    margin: 2px 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
}


.card-md {
    margin: 13px 0px 20px 0px;
    border-radius: 2px;
    width: calc(100%);
    height: 115px;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}




.fab-md {
    color: #fff;
    background-color: #282b2e;
}

.empty{
    text-align: center;
    margin-top: 50%;
    font-size: large;
}    

.card-md h2 {
    margin: 2px 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: #000;
}


p {
    font-size: 1.2rem;
    margin-top: 10px;
}

ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/about_cart.png');
    }
     &[class*="appname-custo2"] {
        mask-image: url('../assets/imgs/filter.png');
    }
}

.toolbar-md-primary .toolbar-title-md {
      color: #fff;
}

.content-md {
    color: #000;
    background-color: #dedede;
}


.active{
    color:#fff !important;
    background:#333 !important;
}

.p {
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px 1px 3px;
    top: -15px;
    margin-left: 10px;
    font-size: smaller;
    position: absolute;
    background: red;
    color: white;
}

.badge-md {
    position: absolute;
    color: #fff;
    margin-top: -15px;
    padding: 1px 4px 1px 4px !important;
    background-color: red;
    margin-left: 10px;
}

.badge-ios {
    position: absolute;
    color: #fff;
    margin-top: -15px;
    padding: 1px 4px 1px 4px !important;
    background-color: red;
    margin-left: 10px;
}

}
