<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Platos
    </ion-title>
         <ion-buttons end>
          <button (click)="buy()" icon-only ion-button>
                <ion-icon name="appname-custo1">
                    <ion-badge item-end [color]="color" *ngIf="Cart_Count > 0">{{ Cart_Count }}</ion-badge>
                </ion-icon>
            </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="headbanner" style="background:url(assets/imgs/user-banner.jpg) no-repeat">
   <div style="display: table-cell;vertical-align: middle;"> 
    <img src="assets/imgs/up.png" class="des" style="margin-top: 30px;" />
    <h2>HEY, {{profileData.name}}!</h2>
    <p class="welcome">Welcome To Our Customer Area</p>
    <img src="assets/imgs/down.png" class="des" />
   </div> 
  </div>

<ion-item>
<ion-row class="margintb20" *ngFor="let arraylist of forarray;let i = index" (click)="openPage(i)">
  <ion-col col-2>
    <img src="{{arraylist.src}}" class="top">
  </ion-col>
  <ion-col col-8 style="padding-left: 10px;">
    <h4 style="font-weight: 600;">{{arraylist.name}}</h4>
    <p>{{arraylist.para}}</p>
  </ion-col>
  <ion-col col-2 align-self-center class="text-right">
     <img src="assets/imgs/home/arrow.png" alt="Arrows" class="imgarrow">
  </ion-col>
</ion-row>
</ion-item>

</ion-content>
