page-dashboard {
ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/about_cart.jpg');
    }
    &[class*="appname-custo2"] {
        mask-image: url('../assets/imgs/up.png');
    }
    &[class*="appname-custo3"] {
        mask-image: url('../assets/imgs/down.png');
    }
    &[class*="appname-custo4"] {
        mask-image: url('../assets/imgs/fav.png');
    }
    }

.p {
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px 1px 3px;
    top: -23px;
    margin-left: 10px;
    font-size: 13px;
    position: absolute;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    display: block;
}


    .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
}

.margintb20 {
    margin-bottom: 10px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}


h4 { 
font-size:1.5rem !important;
    text-transform: uppercase;
    }


    .imgarrow { 
max-width:10px;
}

.item-md p {
    margin: 5px 0 2px;
    overflow: inherit;
    font-size: small;
    line-height: 1.2;
    text-overflow: inherit;
    color: #000;
}

.text-right { 
text-align: center;
}





.headbanner
{
min-height:35vh;
width:100%;
position:relative;
background-position: center !important;
background-size:cover !important;
display:table;
}


.headbanner::after { 
content:"";
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.5);
width:100%;
height:100%
}

.headbanner h2 {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    z-index: 12;
    width: 100%;
    text-align: center;
    padding: 0;
    font-weight: bold;
    margin: 0;
}

.welcome{
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    z-index: 12;
    width: 100%;
    text-align: center;
    padding: 0 10%;
    margin: 0;
}

ion-label { 
white-space:unset !important
}

.des{
    position: relative;
    z-index: 12;
    width: 100%;
    padding: 0 24%;
}


ion-icon[class*="appname-custo1"] {
    background: url(../assets/imgs/about_cart.png) no-repeat;
    background-size: 26px auto;
    -webkit-mask-image: none;
}

.badge-md {
    position: absolute;
    color: #fff;
    margin-top: -10px;
    padding: 1px 4px 1px 4px !important;
    background-color: red;
    margin-left: 0px;
}

.badge-ios {
    position: absolute;
    color: #fff;
    margin-top: -10px;
    padding: 1px 4px 1px 4px !important;
    background-color: red;
    margin-left: 0px;
}

.item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: none;
}

.item-ios.item-block .item-inner {
    padding-right: 0px;
    border-bottom: none;
}

.label-ios {
    margin: 13px 0px 13px 0;
}

.label-md {
    margin: 13px 0px 13px 0;
}

.top{
        vertical-align: text-top;
}

.toolbar-md-primary .toolbar-title-md {
    color: #fff;
    text-align: -webkit-center;
}

}
