page-filter {

.rowlink a { 
display: inline-block;
background: #fff;
border-radius: 10px;
color: #333; 
text-decoration: none;
padding: 4px 10px 4px 10px;
font-size: 14px;
text-align: center;
margin: 5px;
}

.content-md {
    color: #000;
    background-color: #dedede;
}

.icon_color{
   color: #868686;
}


.active{
    color:#fff !important;
    background:#333 !important;
}

.mealRow{
	margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.bu{
    height: 40px;
    width: 90%;
    margin: 15px;
}

ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 0.1em;
        height: 0.1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/calendar.png');
    }
     &[class*="appname-custo2"] {
        mask-image: url('../assets/imgs/location.png');
    }
     &[class*="appname-custo3"] {
        mask-image: url('../assets/imgs/clock.png');
    } 
    &[class*="appname-custo4"] {
        mask-image: url('../assets/imgs/add-user.png');
    }
   }

   .item > ion-icon:first-child {
    text-align: center;
    min-width: 18px;
}

.item-md ion-icon[item-start] + .item-inner{
    margin-left: 0px;
}

.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner {
    border-bottom-color: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.item-md ion-icon[item-start] {
    margin-left: 0;
    margin-top: 7px;
    margin-bottom: 10px;
}

}
