<ion-header>
  <ion-navbar color="primary">
    <ion-title>Search Caterer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-row >
	<ion-col col-6>
    <ion-item no-lines>	
     <!-- <a [ngClass]="{'active': menu.selected}" (click)="menu.selected = !menu.selected">{{menu.mealtype_name}}</a> -->
     <ion-select [(ngModel)]="data.meal_id">	
      <ion-option *ngFor="let menu of mealTypes" value="{{menu.mealtype_id}}">{{menu.mealtype_name}}</ion-option>
      </ion-select>
   </ion-item>
   </ion-col>
   <ion-col col-6>
    <ion-item no-lines>	
     <!-- <a [ngClass]="{'active': menu.selected}" (click)="menu.selected = !menu.selected">{{menu.mealtype_name}}</a> -->
     <ion-select [(ngModel)]="data.cuisi_id">	
      <ion-option *ngFor="let menu of cusineTypes" value="{{menu.cuis_id}}">{{menu.cuis_name}}</ion-option>
      </ion-select>
   </ion-item>
   </ion-col>
</ion-row>

<div style="padding:15px">
<ion-row>
<ion-col col-6>
<ion-item no-lines>	
    <ion-select [(ngModel)]="data.pin">	
        <ion-option *ngFor="let menu of pinTypes" value="{{menu.pin_id}}">{{menu.pincode}}-{{menu.area_name}}</ion-option>
        </ion-select>
<!-- <ion-input type="tel" [(ngModel)]="data.pin" name="pin" placeholder="Place"></ion-input>
<ion-icon item-start name="appname-custo2" class="passwordIcon icon_color"></ion-icon> -->
</ion-item>
</ion-col>
<ion-col col-6>
    <ion-item no-lines>	
        <ion-select [(ngModel)]="data.packi_id">	
            <ion-option *ngFor="let menu of packTypes" value="{{menu.pack_id}}">{{menu.pack_name}}</ion-option>
            </ion-select>
    <!-- <ion-input type="tel" [(ngModel)]="data.pin" name="pin" placeholder="Place"></ion-input>
    <ion-icon item-start name="appname-custo2" class="passwordIcon icon_color"></ion-icon> -->
    </ion-item>
    </ion-col>
</ion-row>

<ion-row>
<ion-col col-6>
<ion-item>		
<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.date" name="date" placeholder="Date"></ion-datetime>
<ion-icon item-start name="appname-custo1" class="passwordIcon icon_color"></ion-icon>
</ion-item>
</ion-col>

<ion-col col-6>
<ion-item>	
<ion-datetime displayFormat="hh:mm A" [(ngModel)]="data.time" name="time" placeholder="Time"></ion-datetime>
<ion-icon item-start name="appname-custo3" class="passwordIcon icon_color"></ion-icon>
</ion-item>	
</ion-col>	
</ion-row>


      <ion-row>
      <ion-col col-6>
      <ion-item no-lines>
      <ion-label>Budget Per Person</ion-label>	
      <ion-select [(ngModel)]="data.range_id">	
      <ion-option *ngFor="let bud of budget" value="{{bud.id}}">{{bud.range}}</ion-option>
      </ion-select>
      </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines>
        <ion-label>Number of Guest</ion-label>  
        <ion-input type="tel" [(ngModel)]="data.guest" name="guest">
        </ion-input>
        <ion-icon item-start name="appname-custo4" class="passwordIcon icon_color"></ion-icon>
        </ion-item>
    	</ion-col>
      </ion-row>
      <ion-row class="mealRow">
          <div class="rowlink" *ngFor="let menu of checkTypes" >
             <a [ngClass]="{'active': menu.selected}" (click)="menu.selected = !menu.selected">{{menu.name}}</a>
          </div>
        </ion-row>
        <ion-row radio-group  [(ngModel)]="data.vegie" name="rd_value">
            <ion-col>
              <ion-item no-lines>
                <ion-label>Yes</ion-label>
                <ion-radio value="Veg"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item no-lines>
                  <ion-label>No</ion-label>
                <ion-radio value="Non-Veg"></ion-radio>
              </ion-item>
            </ion-col>
        </ion-row>

       <!-- <ion-row>
        <ion-col col-12>
        <ion-item no-lines>
        <ion-label>Number of Guest</ion-label>  
        <ion-input type="tel" [(ngModel)]="data.guest" name="guest">
        </ion-input>
        <ion-icon item-start name="appname-custo4" class="passwordIcon icon_color"></ion-icon>
        </ion-item>
    	</ion-col>
       </ion-row>  -->
</div>

    <button ion-button type="submit" block class="submitbtn" class="bu" (click)="FilterData()">Search</button>    

</ion-content>
