page-profile-edit {


.ionform{
border-bottom:1px solid #ccc;
margin-left:0 !important
}

.lab{
	color: #404f5d;
    font-weight: 600;
    font-size: 1.5rem;

}

.error{
    color: red;
    margin: 1px 0px 0px 5px;
    font-size: small;
}

.b{
    height: 45px;
    width: 95%;
    margin: 10px;
    top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    background: #b98d36;
}

}
