page-my-profile {
 .item-profile {
   background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: 80%;
    background-position: center;
  }

  .p {
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px 1px 3px;
    top: -15px;
    margin-left: 10px;
    font-size: smaller;
    position: absolute;
    background: red;
    color: white;
}

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

.cover {
    padding-top: 35px;
    background: #EBEBEB;
    height: 33%;
}
  h3 {
    color: #757472;
    font-size: 1.5rem;
}

.but {
    border: 1px solid #b98d36;
    background: transparent;
    font-size: 1.4rem;
    padding: 5px 8px;
    color: #b98d36;
    margin: 10px 0px 10px 10px;
}

.hed {
    background: #EBEBEB;
    color: #000;
    margin: 0;
    font-weight: 600;
}

ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
     &[class*="appname-cuo2"] {
        mask-image: url('../assets/imgs/menu/edit.png');
    }
        &[class*="appname-cuo3"] {
        mask-image: url('../assets/imgs/shopping-cart.png');
    }
}


.b{
    height: 45px;
    width: 95%;
    margin: 10px;
    top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

}
