<ion-header>
   
  <ion-navbar color="primary">
  	 <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
<!--           <ion-buttons end (click)="editProfile()">
          <button  ion-button icon-only>
        <ion-icon name="appname-cuo2"></ion-icon>
      </button>
    </ion-buttons> -->
     <ion-buttons end (click)="buy()">
          <button  ion-button icon-only>
        <ion-icon name="appname-cuo3"></ion-icon>
        <p class="p" *ngIf="Cart_Count > 0">{{Cart_Count}}</p>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
<ng-container>
<!-- <div class="cover">
  <div class="item-profile circle-pic" text-center #profilePic [style.background-image]="'url(' + item.image + ')'">
  </div>
</div> -->
<ion-row class="hed">
<ion-col col-6>  
<h4 style="font-size: small;margin: 5px;font-weight: 600;">Profile</h4>
</ion-col>

<ion-col col-6 style="text-align: -webkit-right;">
  <a (click)="editProfile()"> <ion-icon name="appname-cuo2"></ion-icon></a>
</ion-col>  
</ion-row>
<ion-row>
  <ion-col col-12  padding style="padding-right: 0 !important;">
    
  	    <h3>Full Name</h3>
      
        <p *ngIf="profileData.name"><strong>{{profileData.name}}</strong></p>
     
    <hr>

      
        <h3>Email Address</h3>
      
        <p *ngIf="profileData.mail"><strong>{{profileData.mail}}</strong></p>
     
    <hr>


       <h3>Phone Number</h3>

        <p *ngIf="profileData.phone"><strong>{{profileData.phone}}</strong></p>
  
  </ion-col>
  </ion-row>
</ng-container>



 



 <button ion-button type="submit" block class="submitbtn" class="b" (click)="ChangePass()">Change Password</button>


</ion-content>