<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-item> -->
  <div class="headbanner" style="background:url(assets/imgs/header_banner.png) no-repeat">
    <h2>ARE YOU LOOKING FOR CATERER?</h2>
  </div>
<!-- </ion-item> -->
<ion-item>
<ion-row class="margintb20" *ngFor="let arraylist of forarray;">
  <ion-col col-2>
    <img src="{{arraylist.src}}">
  </ion-col>
  <ion-col col-8>
    <h4>{{arraylist.name}}</h4>
    <p>{{arraylist.para}}</p>
  </ion-col>
  <ion-col col-2 align-self-center class="text-right">
     <img src="assets/imgs/home/arrow.png" alt="Arrows" class="imgarrow">
  </ion-col>
</ion-row>
</ion-item>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
