page-home {


.headbanner
{
min-height:35vh;
width:100%;
position:relative;
background-position: center !important;
background-size:cover !important;
display:table;
}


.headbanner::after { 
content:"";
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.5);
width:100%;
height:100%
}

.headbanner h2 { display:table-cell;
vertical-align:middle;
color:#ffffff;
text-transform:uppercase;
position:relative;
z-index:12;
max-width:75%;
text-align:center;
padding:0 10%;
}

ion-label { 
white-space:unset !important
}

.text-right { 
text-align:right;
}

h4 { 
font-size:1.7rem !important;
    text-transform: uppercase;
    }

.imgarrow { 
max-width:12px;
}

.margintb20 { 
margin-bottom: 10px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}

.p {
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px 1px 3px;
    top: -15px;
    margin-left: 10px;
    font-size: smaller;
    position: absolute;
    background: red;
    color: white;
}

}
