<ion-header>
   
  <ion-navbar color="primary">
  	 <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User Info</ion-title>
<!--           <ion-buttons end (click)="editProfile()">
          <button  ion-button icon-only>
        <ion-icon name="appname-cuo2"></ion-icon>
      </button>
    </ion-buttons> -->
     <ion-buttons end (click)="buy()">
          <button  ion-button icon-only>
        <ion-icon name="appname-cuo3"></ion-icon>
        <p class="p" *ngIf="Cart_Count > 0">{{Cart_Count}}</p>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bggrey">
<ng-container> 

  <ng-container>
    <ion-row align-items-center>
      <ion-col col-6>
        <label class="lbt"><strong>Admin Info</strong></label>
      </ion-col>
      <ion-col col-6 class="text-right">
        <ng-container >
        <a (click)="editProfile()"><img src="assets/imgs/v_edit.png" alt="Edit" class="tdimg"></a>
        <!-- <a href="#"><img src="assets/imgs/v_delete.png" alt="Delete" class="tdimg" style="padding:1px"></a> -->
      </ng-container>
      </ion-col>
    </ion-row>
  
    <div class="bgwhite">
      <ion-row class="bgwhite_row">
        <ion-col col-12>
          <label class="tex">Name</label>
          <strong class="text_overflow">{{profileData.name}}</strong>
        </ion-col>
      </ion-row>
      <ion-row class="bgwhite_row">
        <ion-col col-12>
          <label class="tex">Email</label>
          <strong class="text_overflow">{{profileData.mail}}</strong>
        </ion-col>
      </ion-row>
      <ion-row class="bgwhite_row">
        <ion-col col-12>
          <label class="tex">Phone Number</label>
          <strong>{{profileData.phone}}</strong>
        </ion-col>
      </ion-row>
      <ion-row class="bgwhite_row">
        <ion-col col-12>
          <label class="tex">Role</label>
          <strong>User Admin</strong>
        </ion-col>
      </ion-row>
  
  
      <button class="btntr" (click)="addUser()" *ngIf="profileData.add_user?.length == 0 || profileData.add_user == null || profileData.add_user.add_user_name == null || profileData.add_user.add_user_name == ''">Add Additional User</button>
  
    </div>
  </ng-container>
  <ng-container *ngIf="profileData.add_user?.length > 0 || profileData.add_user != null && profileData.add_user.add_user_name">
    <ion-row align-items-center>
    <ion-col col-6>
      <label class="lbt"><strong>Additional User</strong></label>
    </ion-col>
    <ion-col col-6 class="text-right">
      <a (click)="editAddedUser()"><img src="assets/imgs/v_edit.png" alt="Edit" class="tdimg"></a>
    <ng-container >
      <a (click)="DeleteAdditionalUser()"><img src="assets/imgs/v_delete.png" alt="Delete" class="tdimg" style="padding:1px"></a>
    </ng-container>
    </ion-col>
  </ion-row>

  <div class="bgwhite">
    <ion-row class="bgwhite_row" *ngIf="profileData.add_user.add_user_name">
      <ion-col col-12>
        <label class="tex">Full Name</label>
        <strong class="text_overflow">{{profileData.add_user.add_user_name}}</strong>
      </ion-col>
    </ion-row>
    <ion-row class="bgwhite_row" *ngIf="profileData.add_user.add_user_email">
      <ion-col col-12>
        <label class="tex">Email</label>
        <strong class="text_overflow">{{profileData.add_user.add_user_email}}</strong>
      </ion-col>
    </ion-row>
    <ion-row class="bgwhite_row" *ngIf="profileData.add_user.add_user_mobile">
      <ion-col col-12>
        <label class="tex">Phone Number</label>
        <strong>{{profileData.add_user.add_user_mobile}}</strong>
      </ion-col>
    </ion-row>
    <ion-row class="bgwhite_row borderzero">
      <ion-col col-12>
        <label class="tex">Role</label>
        <strong>Sub User</strong>
      </ion-col>
    </ion-row>

    <button class="btntr" (click)="addUser()" *ngIf="profileData.add_user?.length == 0 || profileData.add_user == null">Add Additional User</button>
    
  </div>
</ng-container>

<ion-row align-items-center>
  <ion-col col-6>
    <label class="lbt"><strong>Customer Info</strong></label>
  </ion-col>
  <ion-col col-6 class="text-right">
    <ng-container >
    <a (click)="editCater()"><img src="assets/imgs/v_edit.png" alt="Edit" class="tdimg"></a>
    <!-- <a href="#"><img src="assets/imgs/v_delete.png" alt="Delete" class="tdimg"></a> -->
  </ng-container>
  </ion-col>
</ion-row>
<div class="bgwhite">

    <ng-container>	
    <ion-row class="bgwhite_row">
    <ion-col col-12>
      <label class="tex">Customer Name</label>
      <strong>{{profileData.cust_name}}</strong>
    </ion-col>
  </ion-row>
</ng-container>
     



 
  <ng-container>
   <ion-row class="bgwhite_row">
    <ion-col col-12>
      <label class="tex">Customer Address</label>
      <strong>{{profileData.cust_address}}</strong>
    </ion-col>
  </ion-row>
</ng-container>	


  <ng-container >
   <ion-row class="bgwhite_row">
    <ion-col col-12>
      <label class="tex">Phone</label>
      <strong>{{profileData.phone}}</strong>
    </ion-col>
  </ion-row>
</ng-container>	

 
  <ng-container >
    <ion-row class="bgwhite_row">
    <ion-col col-12>
      <label class="tex">Gst No</label>
              <strong>{{profileData.gst_no}}</strong>
    </ion-col>
  </ion-row>
  </ng-container>



 
  <ng-container >
    <ion-row class="bgwhite_row">
    <ion-col col-12>
      <label class="tex">Pan No</label>
              <strong>{{profileData.pan_no}}</strong>
    </ion-col>
  </ion-row>
  </ng-container>


</div>

   <ion-row align-items-center>
  <ion-col col-6>
    <label class="lbt"><strong>Certificates</strong></label>
  </ion-col>
  <ion-col col-6 class="text-right">
    <ng-container >
    <a (click)="editCertificate()"><img src="assets/imgs/v_edit.png" alt="Edit" class="tdimg"></a>
    <!-- <a (click)="showDelete()"><img src="assets/imgs/v_delete.png" alt="Delete" class="tdimg" style="    max-width: 14px !important;"></a> -->
  </ng-container>
  </ion-col>
  </ion-row>

 <div class="bgwhite" *ngIf="profileData.ceritificate?.length == 0 && !profileData.usr_gst_certificate">
  <p>No Certificates</p>
</div>


<div class="bgwhite">
  <ion-row class="bgwhite_row">
    <ion-col col-6 *ngIf="profileData.usr_gst_certificate">
      <label class="tex">GST Certificate</label> 
         <!-- <img src="{{GST_path}}{{profileData.usr_gst_certificate}}" class="img_siz" (click)="fullView(vendorData.catt_gst_certificate)"> -->

       <div [style.backgroundImage]="'url('+ gstPath(profileData.usr_gst_certificate) +')'" class="back_img" (click)="fullView(profileData.usr_gst_certificate)"> 
             </div>
          <ion-icon (click)="GSTCertificateDelete()" *ngIf="certifi_delete" class="close ic" name="ios-close-circle-outline">
      </ion-icon>	
    </ion-col>
  </ion-row>
    <ion-row class="bgwhite_row">
    <ion-col col-6 *ngIf="profileData.usr_pan_certificate">
      <label class="tex">PAN Certificate</label> 
         <!-- <img src="{{GST_path}}{{profileData.usr_gst_certificate}}" class="img_siz" (click)="fullView(vendorData.catt_gst_certificate)"> -->

       <div [style.backgroundImage]="'url('+ panPath(profileData.usr_pan_certificate) +')'" class="back_img" (click)="fullViewCat(profileData.usr_pan_certificate)"> 
             </div>
          <!-- <ion-icon (click)="GSTCertificateDelete()" *ngIf="certifi_delete" class="close ic" name="ios-close-circle-outline">
      </ion-icon>	 -->
    </ion-col> 



      <ng-container *ngIf="profileData.ceritificate?.length > 0">
    <ion-col col-6 *ngFor="let cert of profileData.ceritificate">
              <label class="tex">{{cert.certify_name}}</label> 
              <!-- <img src="{{Food_certi}}{{cert.certify_file}}" class="img_siz" (click)="fullViews(cert.certify_file)"> -->

              <div class="back_img" [style.backgroundImage]="'url('+ otherCertificatePath(cert.certify_file) +')'" class="back_img" (click)="fullViews(cert.certify_file)">
             </div>
      <ion-icon *ngIf="certifi_delete" class="close ic" name="ios-close-circle-outline">
            </ion-icon>
    </ion-col>
    </ng-container>	
</ion-row>
</div> 

  <ng-container >
  <ion-row align-items-center>
    <ion-col col-6>
      <label class="lbt"><strong>Delivery Address</strong></label>
    </ion-col>
    <ion-col col-6 class="text-right">
      <ng-container >
      <a (click)="AddDelivery()"><img src="assets/imgs/v_edit.png" alt="Edit" class="tdimg"></a>
      <!-- <a href="#"><img src="assets/imgs/v_delete.png" alt="Delete" class="tdimg" style="padding:1px"></a> -->
    </ng-container>
    </ion-col>
  </ion-row>
  
  <div class="bgwhite">
   <ng-container *ngIf="ShippingAddress?.length > 0">
   <ion-row *ngFor="let item of ShippingAddress;let i = index">
    <ion-col col-12  padding style="padding-right: 0 !important;">   
  
          <h3>Address {{i+1}}</h3>
  
          <p style="padding-right: 10px;"><strong>{{item.ship_add_address}}</strong></p>  
      <hr>
      
    </ion-col>
    </ion-row>
  </ng-container>  
    <button class="but" (click)="AddDelivery()">Add Delivery Address</button>
  
  </div>
</ng-container>





  <ng-container >
    <ion-row align-items-center>
      <ion-col col-6>
        <label class="lbt"><strong>Billing Information</strong></label>
      </ion-col>
      <ion-col col-6 class="text-right">
        <ng-container >
        <a (click)="AddBilling()"><img src="assets/imgs/v_edit.png" alt="Edit" class="tdimg"></a>
        <!-- <a href="#"><img src="assets/imgs/v_delete.png" alt="Delete" class="tdimg" style="padding:1px"></a> -->
      </ng-container>
      </ion-col>
    </ion-row>
  <div class="bgwhite">
   <ng-container *ngIf="BillingAddress?.length > 0">
    <ion-row *ngFor="let item of BillingAddress;let j = index">
    <ion-col col-12 padding style="padding-right: 0 !important;">
      
         <h3>Billing Address {{j+1}}</h3>
        
          <p style="padding-right: 10px;"><strong>{{item.bill_add_address}}</strong></p>
       
      <hr>
  
     </ion-col>
     </ion-row>
  </ng-container>
   <button class="but" (click)="AddBilling()">Add Billing Address</button>  
</div>
  </ng-container>
  </ng-container>
 
</ion-content>


 <!-- <button ion-button type="submit" block class="submitbtn" class="b" (click)="ChangePass()">Change Password</button> -->


 