page-userinfo {
    .item-profile {
        background-size: cover;
         width: 110px;
         height: 110px;
         border-radius: 50%;
         margin-left: 80%;
         background-position: center;
       }
     
       .p {
         border: 1px solid red;
         border-radius: 50%;
         padding: 1px 3px 1px 3px;
         top: -15px;
         margin-left: 10px;
         font-size: smaller;
         position: absolute;
         background: red;
         color: white;
     }
     
       .item-detail {
         width: 100%;
         background: white;
         position: absolute;
       }
     
     .cover {
         padding-top: 35px;
         background: #EBEBEB;
         height: 33%;
     }
       h3 {
         color: #757472;
         font-size: 1.5rem;
     }
     
     .but {
         border: 1px solid #b98d36;
         background: transparent;
         font-size: 1.4rem;
         padding: 5px 8px;
         color: #b98d36;
         margin: 10px 0px 10px 10px;
     }
     
     .hed {
         background: #EBEBEB;
         color: #000;
         margin: 0;
         font-weight: 600;
     }
     
     ion-icon {
         &[class*="appname-"] {
             mask-size: contain;
             mask-position: 50% 50%;
             mask-repeat: no-repeat;
             background: currentColor;
             background-position:center;
             width: 1em;
             height: 1em;
         }
          &[class*="appname-cuo2"] {
             mask-image: url('../assets/imgs/menu/edit.png');
         }
             &[class*="appname-cuo3"] {
             mask-image: url('../assets/imgs/shopping-cart.png');
         }
     }
     
     
     .b{
         height: 45px;
         width: 95%;
         margin: 10px;
         top: 10px;
         font-weight: 600;
         font-size: 1.5rem;
     }
     .bggrey {
        background: #ebebeb
    }
    .text-right {
        text-align: right
    }
    .tdimg {
        max-width: 17px;
        margin-right: 10px;
    }
    .lbt {
        margin-left: 12px;
        font-weight: 500;
    }
    .more {
        padding: 0px;
        margin-left: 5px;
        text-decoration: underline;
        font-size: small;
    }
    .liv {
        color: #fff;
        background: red;
        padding: 5px;
    }
    .bgwhite {
        background: #ffffff;
        padding: 12px 0px 12px 12px;
    }
    .bgwhite_row {
        border-bottom: 1px solid #dadada;
        padding: 4px 0;
    }
    .bgwhite_row label {
        display: block;
        margin-bottom: 5px
    }
    .bgwhite_row:last-child {
        border: 0px;
    }
    .btntr {
        background: transparent;
        border: 1px solid #b98d35;
        margin: 15px 0 0 0;
        color: #b98d35;
        padding: 6px 10px 6px 10px;
    }
    .vgimg {
        max-width: 18px;
        margin: 0px 8px 0 0;
        float: left;
    }
    .borderzero {
        border: 0px !important
    }
    .tex {
        color: #747471;
        font-weight: 500;
    }
    label {
        font-family: inherit;
        line-height: 2;
    }
    .img_siz {
        width: 100px;
        height: 80px;
    }
    .ionform {
        border-bottom: 1px solid #ccc;
        margin-left: 0 !important
    }
    .bu {
        margin-left: 50px;
        margin-top: 2px;
        padding: 10px;
        background-color: #b98d36;
        color: #fff;
    }
    ion-icon {
        &[class*="appname-"] {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            background-position: center;
            width: 0.7em;
            height: 1.5em;
        }
        // custom icons
        &[class*="appname-custo1"] {
            mask-image: url('../assets/imgs/minus.svg');
        }
    }
    .ic {
        position: absolute;
        color: red;
        float: right;
        font-weight: bolder;
        top: 33px;
        left: 95px;
        background: #fff;
    }
    .gm {
        color: red;
        font-weight: 600;
        position: absolute;
        margin-top: -9px;
    }
    .vegimg {
        max-width: 16px;
        margin: 0px 8px 0 0;
        float: left;
    }
    .back_img {
        width: 100px;
        height: 80px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text_overflow{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    }
}
