page-notification {
.hed{
	color: #b39d36;
    font-size: large;
    font-weight: bold;
}
.dat{
	text-align: end;
    color: #666;
    font-size: smaller;
    font-weight: 400;
}

.p {
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px 1px 3px;
    top: -17px;
    margin-left: 10px;
    font-size: 13px;
    position: absolute;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    display: block;
}

ion-icon[class*="appname-custo1"] {
    background: url(../assets/imgs/shopping-cart.png) no-repeat;
    background-size: 26px auto;
    -webkit-mask-image: none;
}

.list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede;
}

}
