<ion-header>
  <ion-navbar color="primary">
  	    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
     <ion-buttons end>
          <button (click)="buy()" icon-only ion-button>
                <ion-icon name="appname-custo1">
                </ion-icon>
                 <p class="p" *ngIf="Cart_Count > 0">{{Cart_Count}}</p>
            </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<!-- <div >
<ion-row style="padding: 10px 7px 0px 7px;">
<ion-col col-8 class="hed">
{{data.name}}
</ion-col>
<ion-col col-4 class="dat">
{{data.date}}
</ion-col>	
</ion-row>
<ion-row style="padding: 0px 10px 5px 7px;">
<ion-col style="font-weight: 400;line-height: 1.3;">
{{data.content}}
</ion-col>
</ion-row>
<hr>
</div> -->



 <ion-list>
    <ion-item-sliding *ngFor="let data of Notification_Data;let i = index">
<button ion-item>    	
<ion-row style="padding: 10px 7px 0px 7px;">
<ion-col col-8 class="hed">
{{data.name}}
</ion-col>
<ion-col col-4 class="dat">
{{data.date}}
</ion-col>	
</ion-row>
<ion-row style="padding: 0px 10px 5px 7px;">
<ion-col style="font-weight: 400;line-height: 1.3;">
<p style="white-space: pre-line;">{{data.content}}</p>
</ion-col>
</ion-row>
<!-- <hr> -->
</button>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(i)">
         Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ng-container *ngIf="Notification_Data?.length == 0"><p text-center class="al" style="margin-top:40%">No Notifications</p></ng-container>
</ion-content>
