<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Saved Menus</ion-title>
        <ion-buttons end>
          <button (click)="buy()" icon-only ion-button>
                <ion-icon name="appname-custo3">
                </ion-icon>
                 <p class="p" *ngIf="Cart_Count > 0">{{Cart_Count}}</p>
            </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

<div class="box">
<div class="cart">
<ion-row>
<ion-col col-8 style="font-weight: bold;">
Combo - 1
</ion-col>
<ion-col col-1 (click)="deleteItem(cart)">
<ion-icon name="appname-custo1" style="float: right;color:#b98d36"></ion-icon>
</ion-col>
<ion-col col-3 style="text-align: end;font-weight: bold;float: right;">
Rs. 3,500
</ion-col>
</ion-row>

<ion-row>
<ion-col col-9 style="font-size: smaller;font-weight: 400;">
Min - 50 : Max - 200
</ion-col>
<ion-col col-3 style="font-weight: 200;text-align: end;font-size: 1rem;">
Per Person
</ion-col>
</ion-row>

<ion-row>
<ion-col col-6 class="vegcol" style="padding:0px">
<img alt="" src="assets/imgs/menu/veg.png">
      <!-- <img alt="" *ngIf="cart.menu_list.is_veg == false" src="assets/menu_dot_red.png"> -->
    <ng-container><p style="margin-top: 8px;font-size: smaller;">VEGETARIAN</p></ng-container>
      <!-- <ng-container *ngIf="cart.menu_list.is_veg == false"><p style="margin-top: 8px;font-size: smaller;">NON-VEGETARIAN</p> </ng-container> -->
</ion-col>
<ion-col col-3 style="text-align: center;padding:0px">
<button (click)="minus()" style="border-radius: 3px;">-</button>&nbsp;&nbsp;10&nbsp;&nbsp;<button (click)="plus()" style="border-radius: 3px;">+</button>
</ion-col>	
<ion-col style="text-align: end;padding:0px" col-3>
<button class="bu" (click)="addtoCart()">Add to Cart</button>
</ion-col>
</ion-row>
</div>
</div>
</ion-content>
