page-saved-menus {

.cart{
    padding-left: 13px;
    padding-right: 13px;
    padding: 13px 13px 0px 13px;
    background: #fff;
    border-bottom: 1px solid #dedede;
}

ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/v_delete.png');
    }
     &[class*="appname-custo2"] {
        mask-image: url('../assets/imgs/cart-empty.png');
    }
      &[class*="appname-custo3"] {
        mask-image: url('../assets/imgs/shopping-cart.png');
    }
   }

  .vegcol img {
    float: left;
    max-width: 10px;
    margin: 10px 8px 0 5px;
}

.vegcol{text-transform:uppercase}

.bu {
 color: #fff;
 background: #b39d36;   
 padding: 5px;
}
  
.p {
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px 1px 3px;
    top: -15px;
    margin-left: 10px;
    font-size: smaller;
    position: absolute;
    background: red;
    color: white;
}

}
