page-menu-detail {
    .btnPrev {
        position: absolute;
        top: 0;
        z-index: 123
    }
    .btnNext {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 123
    }
    .slides {
        height: 34vh;
        margin-top: -1vh !important;
    }
    .bggrey {
        background: #ebebeb;
        margin-top: -8px;
        padding: 5px 5px 0px 5px;
    }
    .vegcol img {
        float: left;
        max-width: 13px;
        margin: 8px 8px 0 0
    }
    .identity {
        max-height: 20px;
        float: right;
        margin-top: -10px;
    }
    .text-center {
        text-align: center;
        font-weight: 600;
    }
    .text-justify {
        text-align: justify
    }
    p {
        font-size: 16px;
        margin-top: 0;
    }
    .ionlist img {
        float: left;
        max-height: 26px;
        margin-right: 15px;
    }
    .ionlist {
        width: 100%;
        padding: 0px 0px 0px 15px;
    }
    .ionlist .item-ios {
        padding-left: 0;
    }
    .but {
        color: #008200;
        font-weight: bold;
        background: transparent;
    }
    .b {
        padding: 8px 10px;
        border: 1px dotted #008200;
        background: transparent;
        height: 60px;
        width: 95px;
    }
    .text-right {
        text-align: right !important;
        font-weight: 600;
        margin-right: 10px;
    }
    h4 {
        font-size: 16px
    }
    h4 label {
        display: block;
        text-align: right;
        color: #828282;
        font-weight: normal
    }
    .ionbtn {
        background: #b98d36;
        color: #ffffff;
        width: 100%;
        text-transform: uppercase;
        padding: 12px;
        height: 45px;
        font-weight: 500;
        font-size: 1.6rem;
    }
    .iconmenu img {
        max-height: 20px
    }
    .toolbar-ios ion-title {
        position: relative;
        padding: 0
    }
    p.title {
        color: #ffffff;
        font-size: 18px;
        margin: 0;
        overflow: hidden !important;
        text-align: center;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    h3 {
        font-size: 1.5rem;
    }
    .iconmenu {
        margin-right: 10px
    }
    p {
        font-size: 1.2rem;
        margin-top: 2px;
    }
    .item-md {
        padding-left: 0px !important;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item-ios {
        padding-left: 0px !important;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    label {
        font-family: inherit;
        line-height: normal;
        font-size: 1.4rem;
    }
    .ionlist img {
        float: left;
        max-height: 15px;
        margin-right: 15px;
    }
    .without_days {
        color: #008200;
        padding: 0px 15px;
        border: 1px dotted #008200;
        background: transparent;
        height: 35px;
        font-weight: bold;
    }
    .led {
        border: 1px solid #dedede;
        border-left: 0;
        border-right: 0;
        margin-bottom: 1px;
        width: 100%;
    }
    .min {
        border: 1px solid #dedede;
        border-right: 0;
        margin-bottom: 1px;
    }
    .lead {
        margin: 8px 0 0 0;
        color: #b98d36;
        font-weight: 600;
        font-size: 1.4rem;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }
    .gst {
        font-size: smaller;
        color: #000;
        float: right;
        margin-top: -7px;
        margin-right: 10px;
    }
    .para {
        line-height: 1.6;
        margin-top: 15px;
        white-space: pre-line;
        font-size: 1.4rem;
        text-align: justify;
    }
    .bgimg {
        background-repeat: no-repeat;
        width: 100%;
        height: 350px;
        background-position: center;
        background-size: cover;
    }
    .clickview {
        position: absolute;
        top: 15vh;
        margin-top: -10px;
        z-index: 123;
        width: 100%;
    }
    .left {
        float: left;
        width: 25px;
        height: 25px;
    }
    .right {
        float: right;
        width: 25px;
        height: 25px;
    }

    .dot_icon{
       width: 15px;
       height: 15px;
    }
    .group_name{
        margin-bottom: 0px;
    margin-left: 30px;
    margin-top: -10px;
    color: #666;
    }

    .menuNameAlign{
    display: -webkit-inline-box;
    margin-left: 5px;
    font-size: 1.7rem;
    margin-bottom: 0;
    }

    .segment_div{
        justify-content: center;
        color: #b98d36;
        font-size: large;
    }

    .segment_div_name{
        justify-content: center;
        color: #000;
        font-size: large;
    }

    .bu {
    color: #b98d36;
    background: #fff;
    float: right;
    position: relative;
    padding: 5px 20px;
    border: 1px solid #dedede;
    }

    .button-md {
    border-radius: 3px !important;
    overflow: hidden;
    height: 18px;
    width: 18px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    color: #b98d36;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0px 0px;
    padding: 0px;
}

.badge-md {
    position: absolute;
    color: #fff;
    margin-top: -15px;
    padding: 1px 4px 1px 4px !important;
    background-color: red;
    margin-left: 10px;
}

.badge-ios {
    position: absolute;
    color: #fff;
    margin-top: -15px;
    padding: 1px 4px 1px 4px !important;
    background-color: red;
    margin-left: 10px;
}

ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/shopping-cart.png');
    }
     &[class*="appname-custo2"] {
        mask-image: url('../assets/imgs/heart.png');
    }
    }


}