<!--
  Generated template for the MenuDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar color="primary">
    	<ion-title>
    		{{Menu_Name}}
    	</ion-title>
       <ion-buttons end>
          <button (click)="buy()" icon-only ion-button>
                <ion-icon name="appname-custo1">
                </ion-icon>
                  <ion-badge item-end [color]="color" *ngIf="Cart_Count > 0">{{ Cart_Count }}</ion-badge>
            </button>
        </ion-buttons>	
  </ion-navbar>
</ion-header>


<ion-content>



<ng-container *ngIf="SlideArr?.length > 0">
<ion-slides  #slides loop="false" class="slides" pager="false" style="margin-top:5px">
  <ion-slide *ngFor="let image of SlideArr">
   
    <div class="bgimg" [style.backgroundImage]="'url('+ getImage(image.menu_imgname) +')'"></div>
   
  </ion-slide>
  
</ion-slides>
</ng-container>

<div class="clickview" #slides *ngIf="SlideArr?.length > 1">

    <img src="assets/imgs/left-arrow.png" class="left" (click)="backward()">

  <img src="assets/imgs/right-arrow.png" class="right" (click)="forward()">

</div>

<ng-container *ngIf="SlideArr?.length == 0">
  <img src="{{defaultMenuPic}}" style="width: 100%;height: 240px;">
</ng-container>  
 
 <ion-row>
 <ion-col col-12 style="margin: 15px 15px 0px 5px;text-align: left;">
 <span style="font-size: larger;"><img alt="" *ngIf="MenuDetail.is_veg == true" src="assets/imgs/menu/veg.png" class="type dot_icon" ><img alt="" *ngIf="MenuDetail.is_veg == false" src="assets/menu_dot_red.png" class="type dot_icon"><p class="menuNameAlign">{{MenuDetail.menu_name}}</p></span></ion-col>
 </ion-row>

 <ng-container *ngIf="MenuDetail.groupss != '' && MenuDetail.groupss != null">
 <ng-container *ngIf="MenuDetail.groupss.group != '' && MenuDetail.groupss.group != null">
 <ion-row>
 <ion-col col-12>
    <p class="group group_name" style="margin-bottom:0px" *ngIf="MenuDetail.groupss.group.menugroup_name">{{MenuDetail.groupss.group.menugroup_name}}</p>
 </ion-col>	
 </ion-row>
</ng-container>
</ng-container>

<ion-row>
<ion-col col-12 style="padding: 15px;text-align: justify;">
{{MenuDetail.menu_description}}
</ion-col>	
</ion-row>

<ion-list class="ionlist">
    <div ion-item>
     <img src="assets/imgs/menu/meal.png">
     <label><strong>Meal Type</strong>: {{MenuDetail.meal_type.mealtype_name}}</label>
    </div>

    <div ion-item>
      <img src="assets/imgs/menu/cusine.png">
      <label><strong>Cuisine Type</strong>: {{MenuDetail.cuisint_type.cuis_name}}</label>
    </div>


    <div ion-item>
      <img src="assets/imgs/menu/package.png">
      <label><strong>Packaging Type</strong>: {{MenuDetail.package_type.pack_name}}</label>
    </div>



<ng-container *ngIf="MenuDetail.is_combo">
    <div *ngFor="let Combo of Combo_List;let i = index">
      <ion-row>
<!--       <ion-col col-12>
      <img src="assets/imgs/combo.png">
      <label><strong>{{Combo.group_name}}</strong></label>
      </ion-col>  --> 

      <ion-col col-12>
          <ion-item> 
          <ion-label floating class="mar">{{Combo.combo_name}}</ion-label>
          <ion-select [(ngModel)]="Combo_List[i].combo_item">
          <ion-option *ngFor="let com of Combo.Items" value="{{com.menu_id}}">{{com.menu_name}}</ion-option>
          </ion-select>
          </ion-item> 
      </ion-col>  
      </ion-row>
    </div>
</ng-container>
</ion-list>


<ion-row>
  
<ion-col col-3>	
<ion-row class="segment_div_name">Min</ion-row>
<ion-row class="segment_div" *ngIf="MenuDetail.min_order != '' && MenuDetail.min_order != null">{{MenuDetail.min_order}}</ion-row>
<ion-row class="segment_div" *ngIf="MenuDetail.min_order == '' && MenuDetail.min_order == null">-</ion-row>
</ion-col>
<ion-col col-1 style="border-right: 1px solid #dedede;justify-content: center;"></ion-col>
<ion-col col-3>	
<ion-row class="segment_div_name">Max</ion-row>
<ion-row class="segment_div" *ngIf="MenuDetail.max_order != '' && MenuDetail.max_order != null">{{MenuDetail.max_order}}</ion-row>
<ion-row class="segment_div" *ngIf="MenuDetail.max_order == '' && MenuDetail.max_order == null">-</ion-row>
</ion-col>
<ion-col col-1 style="border-right: 1px solid #dedede;justify-content: center;"></ion-col>
<ion-col col-4>
<ion-row class="segment_div_name">Discount</ion-row>
<ion-row class="segment_div" *ngIf="MenuDetail.discount_off != '' && MenuDetail.discount_off != null">{{MenuDetail.discount_off}}%</ion-row>
<ion-row class="segment_div" *ngIf="MenuDetail.discount_off == '' && MenuDetail.discount_off == null">-</ion-row>
</ion-col>

</ion-row>


<ion-col col-6 align-self-end>
<h4 class="text-right">Rs.{{MenuDetail.per_person_cost}} <label>Per person</label></h4>

<h1 class="gst">(Excluding {{MenuDetail.gst_percent}}% GST)</h1>
</ion-col>


 <ion-row style="padding: 15px;">
   <ion-col col-6 style="text-align: center;">
          <button ion-button ion-long-press [interval]="100" (click)="checkInCart(MenuDetail,mi,MenuDetail.number,MenuDetail.cart_id);$event.stopPropagation()" style="border-radius: 3px;float: left;margin-left: 30px;">-</button>  
          &nbsp;{{MenuDetail.number}}&nbsp;
          <button ion-button ion-long-press [interval]="100" (click)="checkInCart(MenuDetail,pl,MenuDetail.number,MenuDetail.cart_id);$event.stopPropagation()" style="border-radius: 3px;float: right;margin-right: 10px;">+</button>
    </ion-col>  


    <ion-col col-5 align-self-end class="ad">
    <button  class="bu" (click)="addtoCart(MenuDetail);$event.stopPropagation()">Add To Cart</button>
    </ion-col>
</ion-row>  



</ion-content>
