.item-profile {
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    background-position: center;
}
  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }



.cover {
    padding: 30px 220px 30px 10px;
    background: #222325;
    height: 33%;
}

.toolbar-background-md {
    border-color: #b2b2b2;
    background: #222325;
}

.colo{
      color: #dbdbdb;
    background-color: #2C2F32;
}

.list-md .item-block .item-inner {
    border-bottom: 1px solid #484A4C;
}

ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custom1"] {
        mask-image: url('../assets/side/1.home.png');
    }
     &[class*="appname-custom2"] {
        mask-image: url('../assets/side/2.message.png');
    }
     &[class*="appname-custom3"] {
        mask-image: url('../assets/side/3.menus.png');
    }
     &[class*="appname-custom4"] {
        mask-image: url('../assets/side/4.orders.png');
    }
     &[class*="appname-custom5"] {
        mask-image: url('../assets/side/5.confirmation.png');
    }
     &[class*="appname-custom6"] {
        mask-image: url('../assets/side/6.MIS-Report.png');
    }
     &[class*="appname-custom7"] {
        mask-image: url('../assets/side/7.Audit.png');
    }
     &[class*="appname-custom8"] {
        mask-image: url('../assets/side/8.Payments.png');
    }
     &[class*="appname-custom9"] {
        mask-image: url('../assets/side/9.profile.png');
    }
        &[class*="appname-custom10"] {
        mask-image: url('../assets/side/10.vendor-info.png');
    }

     &[class*="appname-custom11"] {
        mask-image: url('../assets/side/logout.png');
    }
      &[class*="appname-custom12"] {
        mask-image: url('../assets/side/notify.png');
    }

      &[class*="appname-custom13"] {
        mask-image: url('../assets/side/cart.png');
    }

         &[class*="appname-custom14"] {
        mask-image: url('../assets/imgs/combo_heart.png');
    }




    }