<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title>Menu</ion-title> -->
  <ion-row>
<!--   <ion-col col-4>
   <div class="cover">
  <div class="item-profile circle-pic" text-center #profilePic [style.background-image]="'url(' + defaultPic + ')'">
  </div>
  </div>
  </ion-col> -->
  <ion-col col-2>
  
  </ion-col>
  <ion-col col-10>
    <ion-row *ngIf="user_name">
    <p style="color:#fff;font-size:2rem;margin-top: 30px;">{{user_name}}</p>
    </ion-row>
    <ion-row *ngIf="user_mail">
    <p style="color:#fff;margin-top: -10px;width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;">{{user_mail}}</p>
    </ion-row>
  </ion-col>
  </ion-row>      
 

      </ion-toolbar>
    </ion-header>



    <ion-content style="background: #2C2F32;">
      <ion-list>
   <button menuClose ion-item (click)="openPage('DashboardPage')" class="colo">
    <ion-icon name="appname-custom1" item-left style="color: #B6942B;"></ion-icon>
    Home
  </button>
  <button menuClose ion-item  (click)="openPage('AboutPage')" class="colo">
    <ion-icon name="appname-custom10" item-left style="color: #B6942B;"></ion-icon>
   About Platos
  </button>
   <button menuClose ion-item (click)="openPage('NotificationPage')" class="colo">
    <ion-icon name="appname-custom12" item-left style="color: #B6942B;"></ion-icon>
    Notifications
  </button>
   <button menuClose ion-item (click)="openPage('SavedMenusPage')" class="colo">
    <ion-icon name="appname-custom14" item-left style="color: #B6942B;"></ion-icon>
    Saved Menus
  </button>
<!--   <button menuClose ion-item (click)="openPage('EventCateringPage')" class="colo">
    <ion-icon name="appname-custom9" item-left style="color: #B6942B;"></ion-icon>
    EventCatering
  </button> -->
     <button menuClose ion-item (click)="openPage('MyCartPage')" class="colo">
    <ion-icon name="appname-custom13" item-left style="color: #B6942B;"></ion-icon>
    My Cart
  </button>
  <button menuClose ion-item (click)="openPage('MyProfilePage')" class="colo">
    <ion-icon name="appname-custom9" item-left style="color: #B6942B;"></ion-icon>
    My Profile
  </button> 
     <button menuClose ion-item (click)="openPage('MyordersPage')" class="colo">
    <ion-icon name="appname-custom4" item-left style="color: #B6942B;"></ion-icon>
    My Orders
  </button>
  <button menuClose ion-item (click)="openPage('UserinfoPage')" class="colo">
    <ion-icon name="appname-custom6" item-left style="color: #B6942B;"></ion-icon>
    User Info
  </button>
  <button menuClose ion-item (click)="logout()" class="colo">
     <ion-icon name="appname-custom11" item-left style="color: #B6942B;"></ion-icon>
   Sign Out
  </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #content [root]="rootPage"></ion-nav>
