page-certificate-edit {
    .ic {
        position: absolute;
        color: red;
        float: right;
        font-weight: bolder;
        top: 0px;
        right: -10px;
        background: #fff;
    }
    .ico {
        display: inline-block;
        font-size: 2.0em;
        position: absolute;
        right: 0;
        margin-top: -7px;
    }
    .ico1 {
        max-width: 100%;
        width: 100%;
    }
    .lab {
        color: #404f5d;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .img {
        max-width: 100%;
        border: 0;
        height: 80px;
        width: 100px;
        margin-left: 15px;
    }
    .ionformlabel {
        margin: 0;
        font-weight: 500;
        color: #434E5E;
    }
    .ionform {
        border-bottom: 1px solid #ccc;
        margin-left: 0 !important
    }
    .bu {
        margin-left: 50px;
        margin-top: 20px;
        padding: 10px;
        background-color: #b98d36;
        color: #fff;
    }
    .passwordIcon {
        font-size: 2.3rem !important;
        position: relative !important;
        top: -30px !important;
        margin: 0 auto !important;
        float: right;
        color: grey;
    }
    .tdimg {
        max-width: 17px;
        margin-right: 10px;
    }
    .back_img {
        width: 100px;
        height: 80px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
