<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

		<ion-row>
		<ion-col>
		<p text-center class="tit">FORGOT PASSWORD?</p>
		</ion-col>
		</ion-row>


	    <ion-row>
		<ion-col>
		<p class="gre">Please Enter Your Email Address or Phone Number.We Will Send You An Link To Reset Your Password.</p>
		</ion-col>
		</ion-row>


        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">Email Address or Phone Number</ion-label>
        </ion-col>
        <ion-col col-12 style="padding:0px">
        <ion-item no-padding no-lines>  
        <ion-input type="Email" [(ngModel)]="email" name="email" placeholder="Email or Phone No" class="ionform"></ion-input>
    	  </ion-item>
        </ion-col>
        </ion-row>

       <button ion-button type="submit" block class="submitbtn but" style="height: 50px;background: #b98d36;
    color: white;" (click)="submit()">SUBMIT</button>


        <ion-row>
        <ion-col>
        <p class="gre" (click)="submit()">Resend Email</p>
        </ion-col>
        </ion-row>
</ion-content>
