page-add-shipaddress {
.che {
    position: absolute !important;
    display: inline-block !important;
    margin-top: -30px !important;
}

.checkbox-md {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}



.hed{
    color: #666;
    font-size: small;
}
.heds{
	color: #666;
    margin-left: 15px;
    font-size: small;
}

ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/menu/trash.png');
    }
   }
  .content-md {
    color: #000;
    background-color: #dedede;
}
.card-header-md {
    color: #222;
    padding: 10px;
}  
.card-content-md {
    padding: 10px 10px;
    font-size: 1.4rem;
    line-height: 1.5;
}
.but {
    font-size: 1.3rem;
    padding: 5px 10px;
    color: #fff;
    background: #b98d36;
    margin: 10px 0 20px 8px;
}

.bu{
    margin-left: 40%;
    background: #b39d36;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

}
