<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{Title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ng-container *ngIf="showDelivery">  
<ion-list>
<ion-label class="ionformlabel hed">
Delivery Address
</ion-label>
  <ion-card *ngFor="let entry of ShippingAddress;let i = index">
  
    <ion-card-header style="font-size: small;font-weight: bold;">
     <ion-row>
     <ion-col col-6>
     Address {{i + 1}}
     </ion-col>
     <ion-col col-6 style="text-align: right;" (click)="DeleteAddress(entry)">
     <ion-icon name="appname-custo1"></ion-icon>	
     </ion-col>
     </ion-row>
    </ion-card-header>
  
    <ion-card-content>
    <ion-row>
    <ion-col col-2>
    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" *ngIf="showDelivery == true && showBilling == true"></ion-checkbox>
    </ion-col>
    <ion-col col-10>
    <p>{{entry.ship_add_address}}</p>
    </ion-col>
    </ion-row>	
    </ion-card-content>
  
  </ion-card>
</ion-list>

	<button class="but" (click)="addNew()" *ngIf="ShippingAddress?.length < 6">Add New Address</button>

  <div *ngIf="showform" style="background:#fff">
  <ion-row>
  <ion-col col-12>
  	<ion-label class="heds">Name</ion-label>
  </ion-col>
  	<ion-col col-12>
  	<ion-item>	
    <ion-input type="text" [(ngModel)]="data.name" name="oldpwd" placeholder="Yourname" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  

  <ion-row>
  <ion-col col-12>
  	<ion-label class="heds">Pincode</ion-label>
  </ion-col>
  	<ion-col col-12>
  	<ion-item>	
    <ion-input type="tel" [(ngModel)]="data.pin" maxLength="10" name="oldpwd" placeholder="Pincode" class="ionform"></ion-input>
    </ion-item>  
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col col-12>
  <ion-label class="heds">Address Type</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
    <ion-input type="text" [(ngModel)]="data.type" placeholder="Address Type" name="oldpwd" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row> 



    <ion-row>
  <ion-col col-12>
  	<ion-label class="heds">Address</ion-label>
  </ion-col>
  	<ion-col col-12>
  	<ion-item>	
   <ion-textarea #myInput id="myInput" placeholder="Address" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="data.address"></ion-textarea>
   </ion-item>
   </ion-col>
    </ion-row>  


  <ion-row>
  <ion-col col-12>
  	<ion-label class="heds">LandMark</ion-label>
  </ion-col>
  	<ion-col col-12>
  	<ion-item>	
    <ion-input type="text" [(ngModel)]="data.landmark" placeholder="LandMark" name="oldpwd" placeholder="Yourname" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  

   <ion-row>
  <ion-col col-12>
  	<ion-label class="heds">Additional Info</ion-label>
  </ion-col>
  	<ion-col col-12>
  	<ion-item>	
   <ion-textarea #myInputs id="myInputs" rows="1" maxLength="500" placeholder="Additional Info" (keyup)="resize1()" [(ngModel)]="data.additional"></ion-textarea>
   </ion-item>
   </ion-col>
    </ion-row>


   <ion-row>
  <ion-col col-12>
  	<ion-label class="heds">City</ion-label>
  </ion-col>
  	<ion-col col-12>
  	<ion-item>	
    <ion-input type="text" [(ngModel)]="data.city" name="oldpwd" placeholder="City" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  


  <ion-row>
  <ion-col col-12>
  	<ion-label class="heds">State</ion-label>
  </ion-col>
  	<ion-col col-12>
  	<ion-item>	
    <ion-input type="text" [(ngModel)]="data.state" name="oldpwd" placeholder="State" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  


   <ion-row>
  <ion-col col-12>
  	<ion-label class="heds">Phone Number</ion-label>
  </ion-col>
  	<ion-col col-12>
  	<ion-item>	
    <ion-input type="tel" [(ngModel)]="data.phoneNumber" maxLength="10" name="oldpwd" placeholder="Phone Number" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  

   <ion-row>
   <ion-col col-6>
   <button (click)="addAddress()" class="bu">Submit</button> 
   </ion-col>
   <ion-col col-6>
   <button (click)="cancelSub()" class="bu">Cancel</button> 
   </ion-col>
   </ion-row>
     
  </div>
</ng-container>



<ng-container *ngIf="showBilling">
    <ion-row *ngIf="!showform">
    <ion-col col-12>
    <ion-label class="ionformlabel hed">Billing Address</ion-label>
    </ion-col>	
    <ion-col col-12 *ngIf="showCheckbox">
    <ion-label style="margin-left: 30px;">As Same as Delivery Address</ion-label>	
    <ion-checkbox [(ngModel)]="billing" checked="true" class="che"></ion-checkbox>
    </ion-col>
    </ion-row>

<ng-container *ngIf="BillingAddress?.length > 0 && !billing">
      <ion-card *ngFor="let entry of BillingAddress;let i = index">
  
    <ion-card-header style="font-size: small;font-weight: bold;">
     <ion-row>
     <ion-col col-6>
     Address {{i + 1}}
     </ion-col>
     <ion-col col-6 style="text-align: right;" (click)="DeleteBillAddress(entry)">
     <ion-icon name="appname-custo1"></ion-icon>  
     </ion-col>
     </ion-row>
    </ion-card-header>
  
    <ion-card-content>
    <ion-row>
    <ion-col col-2>
    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" *ngIf="showDelivery == true && showBilling == true"></ion-checkbox>
    </ion-col>
    <ion-col col-10>
    <p>{{entry.bill_add_address}}</p>
    </ion-col>
    </ion-row>  
    </ion-card-content>
  
  </ion-card>
</ng-container>

      <button class="but" (click)="addNewbill()" *ngIf="!billing">Add New Address</button>


      <div *ngIf="showBill" style="background:#fff">
  <ion-row>
  <ion-col col-12>
    <ion-label class="heds">Name</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
    <ion-input type="text" [(ngModel)]="datas.name" name="oldpwd" placeholder="Yourname" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  

  <ion-row>
  <ion-col col-12>
    <ion-label class="heds">Pincode</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
    <ion-input type="tel" [(ngModel)]="datas.pin" maxLength="10" name="oldpwd" placeholder="Pincode" class="ionform"></ion-input>
    </ion-item>  
  </ion-col>
  </ion-row>  


    <ion-row>
  <ion-col col-12>
  <ion-label class="heds">Address Type</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
    <ion-input type="text" [(ngModel)]="datas.type" placeholder="Address Type" name="oldpwd" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row> 

    <ion-row>
  <ion-col col-12>
    <ion-label class="heds">Address</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
   <ion-textarea #myInput id="myInput" placeholder="Address" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="datas.address"></ion-textarea>
   </ion-item>
   </ion-col>
    </ion-row>  


  <ion-row>
  <ion-col col-12>
    <ion-label class="heds">LandMark</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
    <ion-input type="text" [(ngModel)]="datas.landmark" placeholder="LandMark" name="oldpwd" placeholder="Yourname" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  

   <ion-row>
  <ion-col col-12>
    <ion-label class="heds">Additional Info</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
   <ion-textarea #myInputs id="myInputs" rows="1" maxLength="500" placeholder="Additional Info" (keyup)="resize1()" [(ngModel)]="datas.additional"></ion-textarea>
   </ion-item>
   </ion-col>
    </ion-row>


   <ion-row>
  <ion-col col-12>
    <ion-label class="heds">City</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
    <ion-input type="text" [(ngModel)]="datas.city" name="oldpwd" placeholder="City" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  


  <ion-row>
  <ion-col col-12>
    <ion-label class="heds">State</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
    <ion-input type="text" [(ngModel)]="datas.state" name="oldpwd" placeholder="State" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  


   <ion-row>
  <ion-col col-12>
    <ion-label class="heds">Phone Number</ion-label>
  </ion-col>
    <ion-col col-12>
    <ion-item>  
    <ion-input type="tel" [(ngModel)]="datas.phoneNumber" maxLength="10" name="oldpwd" placeholder="Phone Number" class="ionform"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>  

   <ion-row>
   <ion-col col-6>
   <button (click)="addAddressBill()" class="bu">Submit</button> 
   </ion-col>
   <ion-col col-6>
   <button (click)="cancelSubs()" class="bu">Cancel</button> 
   </ion-col>
   </ion-row>
     
  </div>
</ng-container>

<ng-container *ngIf="showDelivery == true && showBilling == true">
	<button *ngIf="!showform" ion-button type="submit" block class="submitbtn" style="height:45px;width: 97%;" (click)="Continue()">Continue</button>
</ng-container>

</ion-content>
