<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
     <button ion-button menuToggle>
       <ion-icon name="menu"></ion-icon>
     </button>
     <ion-title>Contract Catering</ion-title>
   </ion-navbar>
 </ion-header>
 
 
 <ion-content padding>
 
 
 <form (ngSubmit)="logForm()">
 
       <ion-row>
         <ion-col col-12>
           <ion-label><strong>Company Name</strong></ion-label>
         </ion-col>
         <ion-col col-12>
         <ion-item no-padding no-lines>
         <ion-input type="text" [(ngModel)]="data.name" name="evtname" (keyup.enter)="moveFocus(b)" placeholder="Event Name" class="ionform"></ion-input>
       </ion-item>
       </ion-col>
       </ion-row>
       <ion-row>
         <ion-col col-12>
           <ion-label><strong>Address</strong></ion-label>
         </ion-col>
         <ion-col col-12>
         <ion-item no-padding no-lines>
         <ion-input type="text" [(ngModel)]="data.addres" #b (keyup.enter)="moveFocus(c)" name="address"  placeholder="3rd Street" class="ionform"></ion-input>
         </ion-item>
       </ion-col>
       </ion-row>
 
       <ion-row>
         <ion-col col-12>
           <ion-label><strong>Pincode</strong></ion-label>
         </ion-col>
         <ion-col col-12>
         <ion-item no-padding no-lines>
         <ion-input type="tel" [(ngModel)]="data.pincode" #c (keyup.enter)="moveFocus(c)" name="pincod" maxlength="6" placeholder="600 001" class="ionform"></ion-input>
         </ion-item>
       </ion-col>
       </ion-row>
 
      
 
       <ion-row col-12>
     
       <ion-col col-6 no-padding no-lines>
         <ion-label><strong>Contract length</strong>
         </ion-label>
          <ion-input type="tel"  [(ngModel)]="data.month" name="month" placeholder="(In number)" class="ionform"></ion-input>
       </ion-col>
       <ion-col col-6> 
        <ion-label><strong>Start Date</strong>
        </ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.date" name="date" placeholder="MM/DD/YYYY" class="ionform"></ion-datetime>
      </ion-col>
       </ion-row>
  <!-- <ion-row>
         <ion-col col-12>
           <ion-label><strong>No. of Guest</strong></ion-label>
         </ion-col>
         <ion-col col-12>
         <ion-item no-padding no-lines>
         <ion-input type="text" [(ngModel)]="data.type"   name="evtyype" placeholder="Event Type" class="ionform"></ion-input>
       </ion-item>
       </ion-col>
     </ion-row> -->
       
       <ion-row>
         <ion-col col-12>
           <ion-label><strong>No. of persons</strong></ion-label>
         </ion-col>
         <ion-col col-12>
         <ion-item no-padding no-lines>
         <ion-input type="number" [(ngModel)]="data.person" name="person" #d (keyup.enter)="moveFocus(d)" placeholder="(In Number)" class="ionform"></ion-input>
         </ion-item>
       </ion-col>
     </ion-row>
 
 
        <ion-row>
        <ion-col col-12>
         <ion-label><strong>Budget(per person)</strong></ion-label>
         </ion-col>
         <ion-col col-12>
         <ion-item no-padding no-lines>
         <ion-input type="number" [(ngModel)]="data.budget" name="budget" #e (keyup.enter)="moveFocus(e)"  placeholder="(In Rupees)" class="ionform">
         </ion-input>
         </ion-item>
         </ion-col>
        </ion-row> 
 
        <ion-row>
         <ion-col col-12>
          <ion-label><strong>Meal Type:</strong></ion-label>
          </ion-col>
          <ion-col col-12>
        <div *ngIf="mealTypes">
         <ion-item no-lines *ngFor="let member of mealTypes">
           <ion-label>{{member?.mealtype_name || 'N/A'}}</ion-label>
           <ion-checkbox color="dark" (ionChange)="selectMember($event,member.mealtype_id)" ></ion-checkbox>
         </ion-item>
         </div>
         </ion-col>
         <ion-col col-12>
           <ion-item no-padding no-lines>
           <ion-input type="text" [(ngModel)]="data.meal_typ" #f (keyup.enter)="moveFocus(f)" name="meal_typ" placeholder="Others Please Specify(Meal Type)" class="ionform">
           </ion-input>
           </ion-item>
           </ion-col>
         </ion-row>
     
         <ion-row>
           <ion-col col-12>
            <ion-label><strong>Cuisine Type:</strong></ion-label>
            </ion-col>
            <ion-col col-12>
          <div *ngIf="cusineTypes">
           <ion-item no-lines *ngFor="let member1 of cusineTypes">
             <ion-label>{{member1?.cuis_name || 'N/A'}}</ion-label>
             <ion-checkbox color="dark" (ionChange)="selectMember1($event,member1.cuis_id)" ></ion-checkbox>
           </ion-item>
           </div>
           </ion-col>
           <ion-col col-12>
             <ion-item no-padding no-lines>
             <ion-input type="text" [(ngModel)]="data.cusi_typ" #g (keyup.enter)="moveFocus(g)" name="cusi_typ" placeholder="Others Please Specify(Cuisine Type)" class="ionform">
             </ion-input>
             </ion-item>
             </ion-col>
           </ion-row>
       
 
           <ion-row radio-group  [(ngModel)]="data.vegie" name="rd_value">
             <ion-col >
               <ion-item no-padding no-lines>
                 <ion-label><strong>Vegetarian</strong></ion-label>
               </ion-item>
             </ion-col>
             <ion-col>
               <ion-item no-lines>
                 <ion-label>Yes</ion-label>
                 <ion-radio value="Yes"></ion-radio>
               </ion-item>
             </ion-col>
             <ion-col>
               <ion-item no-lines>
                   <ion-label>No</ion-label>
                 <ion-radio value="No"></ion-radio>
               </ion-item>
             </ion-col>
             <ion-col col-12>
               <ion-item no-padding no-lines>
               <ion-input type="text" [(ngModel)]="data.veg" #g (keyup.enter)="moveFocus(g)" name="veg" placeholder="Additional Information(Optional)" class="ionform">
               </ion-input>
               </ion-item>
               </ion-col>
           </ion-row>
 
           <ion-row>
               <ion-col col-12>
                <ion-label><strong>Contact Details:</strong></ion-label>
                </ion-col>
                <ion-col col-12>
                   <ion-item no-padding no-lines>
                   <ion-input type="text" [(ngModel)]="data.con_name" #h (keyup.enter)="moveFocus(h)" name="con_name" placeholder="Name" class="ionform">
                   </ion-input>
                   </ion-item>
                   </ion-col>
               <ion-col col-12>
                 <ion-item no-padding no-lines>
                 <ion-input type="tel" [(ngModel)]="data.phon_num" #i (keyup.enter)="moveFocus(i)" name="phon_num" placeholder="Phone Number" class="ionform">
                 </ion-input>
                 </ion-item>
                 </ion-col>
               </ion-row>
           
 
       <button ion-button type="submit" block class="submitbtn" style="height: 40px;
     margin-top: 10px;">Submit</button>
 </form>
 </ion-content>
 