<ion-header>
 <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      
      <ion-row align-items-center style="width: 45%;
    margin-left: 29%;height: 100px;"><img src="assets/imgs/logo_new.png">
    </ion-row>
 

    <ion-row>
    <ion-col>
    <p text-center class="tit">SIGN UP</p>
    </ion-col>
    </ion-row>

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Name</ion-label>
        <ion-input type="text" [(ngModel)]="data.fullname" name="name" (keyup.enter)="moveFocus(b)" (ionChange)='onChangeName(data.fullname)'
         placeholder="Name" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.fullname}}</div>
        </ion-row>

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Email</ion-label>
        <ion-input type="Email" [(ngModel)]="data.email" #b (keyup.enter)="moveFocus(c)" name="email" placeholder="Email" 
        (ionChange)='onChangeemail(data.email)' class="ionform"></ion-input>
       </ion-col>
       <div class="error">{{error.email}}</div>
        </ion-row>

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Phone Number</ion-label>
        <ion-input type="tel" (ionChange)='onChangenumber(data.phoneNo)' #c (keyup.enter)="moveFocus(d)" [(ngModel)]="data.phoneNo" name="number" pattern="[0-9]" maxlength="10" placeholder="Phone Number" class="ionform"></ion-input>
       </ion-col>
       <div class="error">{{error.phoneNo}}</div>
        </ion-row>


        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Password</ion-label>
        <ion-input [type]="passwordType" (ionChange)='onChangePass(data.pass)' #d (keyup.enter)="moveFocus(e)" [(ngModel)]="data.pass" name="password" placeholder="Password" class="ionform" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()' ></ion-icon>
      </ion-col>
        <div class="error">{{error.pass}}</div>
        </ion-row> 


        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Confirm Password</ion-label>
        <ion-input [type]="passwordTypes" (ionChange)='onChangePass(data.confPass)' #e (keyup.enter)="signup()" [(ngModel)]="data.confPass" name="password" placeholder="Confirm Password" class="ionform" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcons" class="passwordIcon" (click)='show()' ></ion-icon>
        </ion-col>
        <div class="error">{{error.confPass}}</div>
        </ion-row> 
        

   <button ion-button type="submit" block class="submitbtn but" style="height: 50px;background: #b98d36;
    color: white;" (click)="signup()">SIGN UP</button>


</ion-content>
