page-signup {

.ionform{
border-bottom:1px solid #ccc;
margin-left:0 !important
}

.but{
	font-size: 1.8rem;
    font-weight: 600;
}

.tit{
	font-weight:600;
	font-size:2.0rem;
}

.lab{
	color: #404f5d;
    font-weight: 600;
    font-size: 1.5rem;

}

.ico {
    display: inline-block;
    font-size: 2.0em;
    position: absolute;
    right: 0;
    margin-top: -7px;
}

.ico1{
  max-width: 100%;
    width: 100%;
}


.header-md::after{
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none;
    background-repeat: repeat-x;
    content: "";
}


.toolbar-md-primary .bar-button-outline-md{
    color: #000;
}

.toolbar-background-md {
    border-color: #b2b2b2;
    background: transparent;
    box-shadow: 0 0 0;
}

.im{
    margin-left: 15px;
}

img {
    max-width: 100%;
    border: 0;
    width: 150px;
    height: 145px;
}

.ic {
    position: absolute;
    color: red;
    float: right;
    font-weight: bolder;
    top: 0px;
    right: 0px;
    background: #fff;
}

.error{
    color: red;
    margin: 1px 0px 0px 5px;
    font-size: small;
}

 .passwordIcon {
    font-size: 2.3rem !important;
    position: relative !important;
    top: -30px !important;
    margin: 0 auto !important;
    float: right;
    color: grey;
}

}
