<ion-header>

  <ion-navbar color="primary">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div style="padding: 15px;">
	<ion-row> 
	<ion-col col-12 class="ionformlabel hed">
	Name
	</ion-col>
	<ion-col col-12 *ngIf="UserDetail" class="ionform">
    {{UserDetail.usr_first_name}}
	</ion-col>	
	</ion-row>
    <br>

	<ion-row> 
	<ion-col col-12 class="ionformlabel hed">
	Order Date
	</ion-col>
	<ion-col col-12 class="ionform">
    {{CurrentDate()}}
	</ion-col>
	<hr>	
	</ion-row>

	<ion-row> 
    	<ion-col col-12>
    	<ion-label class="ionformlabel hed">Event Date
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data.date" name="confirmpwd" placeholder="12.12.2018" class="ionform"></ion-datetime>
    	</ion-col>
	</ion-row>


	<ion-row> 
    	<ion-col col-12>
    		<ion-label class="ionformlabel hed">Event Time </ion-label>
         <ion-datetime displayFormat="hh:mm A" [(ngModel)]="data.time" name="confirmpwd" placeholder="09:00 AM" class="ionform"></ion-datetime>
    	</ion-col>
	</ion-row>




        <ion-row>
      	<ion-col col-12>
      		<ion-label class="ionformlabel hed">No of Guests</ion-label>
        <ion-input type="tel" [(ngModel)]="data.guestCount" name="oldpwd" placeholder="In Numbers" class="ionform"></ion-input>
    	</ion-col>
      </ion-row>


   <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating class="ionformlabel hed" style="font-size: 1.6rem;color: #666;">Event Type</ion-label> 
          <ion-select [(ngModel)]="data.mealtype_id">
           <ion-option *ngFor="let menu of mealTypes"  value="{{menu.mealtype_id}}">{{menu.mealtype_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      <!-- <div class="error">{{error.cuisine_type_id}}</div> -->
      </ion-row>


<!-- <ion-list>
<ion-label class="ionformlabel hed">
Delivery Address
</ion-label>
  <ion-card *ngFor="let entry of ShippingAddress">
  
    <ion-card-header style="font-size: small;font-weight: bold;">
     Address 1
    </ion-card-header>
  
    <ion-card-content>
    <ion-row>
    <ion-col col-3>
    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-col>
    <ion-col col-9>
    <p>{{entry.ship_add_address}}</p>
    </ion-col>
    </ion-row>	
    </ion-card-content>
  
  </ion-card>
</ion-list> -->

	<!-- <button class="but">Add New Address</button> -->

<!--     <ion-row>
    <ion-col col-12>
    <ion-label class="ionformlabel hed">Billing Address</ion-label>
    </ion-col>	
    <ion-col col-12>
    <ion-label style="margin-left: 30px;">As Same as Delivery Address</ion-label>	
    <ion-checkbox [(ngModel)]="data.billing" checked="true" class="che"></ion-checkbox>
    </ion-col>
    </ion-row> -->



	<button ion-button type="submit" block class="submitbtn" style="height:45px;width: 97%;" (click)="PayNow()">Pay Now</button>

</div>
</ion-content>
