page-shipping {

.but {
    font-size: 1.3rem;
    padding: 5px 10px;
    color: #fff;
    background: #b98d36;
    margin: 10px 0 20px 8px;
}

.datetime-md {
    padding: 10px 10px 10px 0px;
}

.datetime-ios {
    padding: 10px 10px 10px 0px;
}

.ionform{border-bottom:1px solid #ccc;margin-left:0 !important}

.hed {
    color: #666;
    font-size: small;
    font-weight: 600;
}

.checkbox-md {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.che {
    position: absolute !important;
    display: inline-block !important;
    margin-top: -30px !important;
}
.item-md {
    padding-left: 0px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-ios {
    padding-left: 0px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
