page-caterer-detail {
ion-icon {
    &[class*="appname-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        background-position:center;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appname-custo1"] {
        mask-image: url('../assets/imgs/shopping-cart.png');
    }
     &[class*="appname-custo2"] {
        mask-image: url('../assets/imgs/heart.png');
    }
    }

    h3 {
font-size: 1.4rem !important;
margin: 0 0 0px 0;
color:white;
}

.groupName{
    float: left;
    margin-left: 5px;
    font-size: 1.5rem;
    padding: 5px;
}

.type {
    width: 12px;
    height: 12px;
    margin: 0px;
}

.menuImg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px !important;
    margin: 0px !important;
    height: 100px !important;
}

.defaultImg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px !important;
    margin: 0px !important;
    height: 100px !important;
}

.button-md.activated {
    background-color: #bf9646 !important;
    color: #fff !important;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21), 0 0 0 0 transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21), 0 0 0 0 transparent;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
}
.but {
    float: right;
    color: white;
    background: #b98d36;
    margin: -27px 0px 10px;
    padding: 4px;
}

.toolbar .segment-md {
    margin: unset;
}

.toolbar-background-md {
    border-color: #b98d36;
    background: #b98d36;
}

.bggrey {
    background: #ebebeb;
    margin-top: -8px;
    padding: 5px 5px 0px 5px;
}

.bgimg {
    height: 110px;
    width: 110px;
    background-size: 100% auto;
    margin-left: 5px;
    border-radius: 3px;
    margin-top: 9px;
}

.menu_name {
    position: relative;
    font-size: smaller;
    margin-bottom: 0;
    clear: both;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    min-height: 46px;
}

.plus_symbol{
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: smaller;
}


.vegcol img{float:left;max-width: 13px;margin:8px 8px 0 0}

.vegcol{text-transform:uppercase}

.bu {
    color: #b98d36;
    background: #fff;
    float: right;
    position: relative;
    padding: 5px 20px;
    border: 1px solid #dedede;
    margin-top: 5px;
    font-weight: 600;
}

    
.checkbox-md {
    position: absolute;
    display: inline-block;
    margin-top: 11px;
}
.p {
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px 1px 3px;
    top: -15px;
    margin-left: 10px;
    font-size: smaller;
    position: absolute;
    background: red;
    color: white;
}

.per{
    font-size: smaller;
    text-align: end;
    margin-top: -5px;
    color: #666;
}
.view {
    margin-top: -30px;
    position: absolute;
    font-size: 1.3rem;
    margin-left: 250px;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
    z-index: 1;
    text-shadow: 0.5px 0.5px #000;
}


.combo_symbol{
     position: absolute;
    top: 2px;
    right: 2px;
    font-size: smaller;
}

.slide-zoom {
    text-align: center;
    display: block;
    width: 100%;
}

.shadow::after {
    content: "";
    top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.2);
}

.group {
    margin-top: 5px;
    float: left;
    color: grey;
    font-size: x-small;
    width: 100%;
    text-align: left;
}

.dot_icon {
    margin-top: 5px !important;
    margin-left: 0;
}

.price {
    float: left;
    margin-top: 10px;
}

.badge-md {
    position: absolute;
    color: #fff;
    margin-top: -15px;
    padding: 1px 4px 1px 4px !important;
    background-color: red;
    margin-left: 10px;
}

.badge-ios {
    position: absolute;
    color: #fff;
    margin-top: -15px;
    padding: 1px 4px 1px 4px !important;
    background-color: red;
    margin-left: 10px;
}

.button-md {
    border-radius: 3px !important;
    overflow: hidden;
    height: 18px;
    width: 18px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    color: #b98d36;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0px 0px;
    padding: 0px;
}

.ad {
    padding: 0;
    right: 8px;
    position: absolute;
    text-align: -webkit-center;
    margin-top: -25px;
}

.slides {
    height: unset;
    margin-top: 145px !important;
}


.segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
}







 .SwipedTabs-indicatorSegment
    {
        -webkit-transition: 0.2s all;
        -moz-transition:  0.2s all;
        -o-transition:  0.2s all;
        transition:  0.2s all;
        transform-origin: top 0 left 0;
        height: 2px;
      position: relative;
      top: -4px;
      background-color: white !important;
    }

    .SwipedTabs-tabs ion-segment-button
    {
      border:none !important;
      color: white!important;
      background-color: #b98d36 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color:white !important;
    }

    .SwipedTabs-tabs
    {
        width: fit-content !important;
    }

    .tabsContent .scroll-content
    {
        overflow-x: scroll !important;
    }

    .tabsContent
    {
        height: 40px !important;
    }

    .segment-button
    {
        max-width: initial !important;
        flex: auto !important;
        width: initial !important;
    }

.name {
    float: left;
    margin-left: 10px;
}

.slides {
    height: unset;
    margin-top: 0px !important;
}

 shrinking-segment-header {

        background-color: #363636;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
              border-radius: 50%;
              width: 75px;
              height: auto;
              margin-right: 15px;
          }

    }


}

.ios{
    page-googleplay-tabs {
        .SwipedTabs-indicatorSegment
        {
            position: relative;
            top: 44px !important;
        }

    }

}


