<ion-header>

  <ion-navbar color="primary" style="position: relative;z-index: 11;">
    <ion-title>Caterer Detail</ion-title>         
    <ion-buttons end>
          <button (click)="buy()" icon-only ion-button>
                <ion-icon name="appname-custo1">
                </ion-icon>
                  <ion-badge item-end [color]="color" *ngIf="Cart_Count > 0">{{ Cart_Count }}</ion-badge>
            </button>
        </ion-buttons>
  </ion-navbar>



<shrinking-segment-header [scrollArea]="myContent" headerHeight="150">
<ion-row style="width: 100%;">
<ion-col col-4 *ngIf="caterdata.caterer_image != null && caterdata.caterer_image">
    <div class="bgimg" [style.backgroundImage]="'url('+ getImage(caterdata.caterer_image) +')'" style="    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    </div>
  </ion-col>
  <ion-col col-4 *ngIf="caterdata.caterer_image == null || caterdata.caterer_image == ''">
    <div class="bgimg" [style.backgroundImage]="'url('+ defaultMenuPic +')'" style="background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    </div>
  </ion-col>

    <ion-col col-8 style="margin-top: 12px;">
    <h3>{{caterdata.catt_caterering_name | uppercase }}</h3>
    <p style="color:white;font-size: 1.2rem">{{caterdata.catt_caterering_info }}</p>
    <label style="color: #b98d36"><strong style="color: white">Min</strong> - {{caterdata.catt_min_order}}</label> | <label style="color: #b98d36"><strong style="color: white">Max</strong> - {{caterdata.catt_max_order}}</label>
    <p style="color: #b98d36"><strong style="color: white">Lead time </strong>: {{caterdata.catt_lead_time}} Days</p>
    <button class="but" (click)="openCaterDetail()">View Details</button>
  </ion-col>

</ion-row>
 </shrinking-segment-header>  


  <ion-toolbar style="padding:0px;min-height: 56px;" *ngIf="AllMenu?.length > 0">
    <ion-content  #MultiItemsScrollingTabs class="tabsContent" style="background: #b98d36;color: #fff !important;">
   <ion-segment  class="SwipedTabs-tabs"  >
    <ion-segment-button *ngFor='let tab of tabs ; let i = index ' id="tabTitle{{i}}" value="IngoreMe" (click)="scrollTo(i);selectTab(i)" [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'>{{tab}}
        </ion-segment-button>
      </ion-segment>
      <div id='indicator' class="SwipedTabs-indicatorSegment"></div>
    </ion-content>
  </ion-toolbar>
    
</ion-header>






<ion-content fullscreen #myContent (ionScroll)="scrolling($event)" (ionScrollEnd)="scrollComplete($event)">

<ng-container *ngIf="caterdata.menus?.length == 0">
<p text-center style="font-size: medium;margin-top: 50px;">No Caterer Menus</p>
</ng-container>  

<ng-container *ngIf="caterdata.menus?.length > 0">


<ion-slides #SwipedTabsSlider  [pager]="false">

          <ion-slide>
           
           <ng-container *ngIf="AllMenu?.length == 0">
            <p style="font-size: medium;margin-top: 50px;">No Caterer Menus</p>
           </ng-container>



            <ng-container *ngIf="AllMenu?.length > 0">
            <div *ngFor="let menu of AllMenu;let i = index">
            <ion-row>
            <ion-col col-12>
              <p class="groupName">{{groupedMenuName(i)}}</p> 
            </ion-col>  
            </ion-row>  
            <ng-container *ngIf="groupedMenuName(i) == 'Recommended'"> 
            <ion-row style="margin-bottom: 30px;" id="menu{{i}}">
             <ion-col col-6 *ngFor="let data of menu;let j = index" style="height: 225px;padding: 15px;" 
             (click)="menuDetail(data)">
              <div class="bgimg"  *ngIf="data.images.length > 0" [style.backgroundImage]="'url('+ getMenuImage(data.images[0].menu_imgname) +')'"  class="menuImg">
              </div>

              <div class="bgimg" *ngIf="data.images.length == 0" [style.backgroundImage]="'url('+ defaultMenuPic +')'" class="defaultImg">
              </div>
            <ng-container *ngIf="data.groupss != '' && data.groupss != null">
            <ng-container *ngIf="data.groupss.group != '' && data.groupss.group != null">
            <p class="group" style="margin-bottom:0px" *ngIf="data.groupss.group.menugroup_name">{{data.groupss.group.menugroup_name}}</p>
            </ng-container>
            </ng-container>

            <span class="name" class="menu_name"><img alt="" *ngIf="data.is_veg == true" src="assets/imgs/menu/veg.png" class="type dot_icon">
            <img alt="" *ngIf="data.is_veg == false" src="assets/menu_dot_red.png" class="type dot_icon">&nbsp;{{data.menu_name}}</span>
            

            <p class="price">₹&nbsp;{{data.per_person_cost}}</p>
             
          <button class="bu" (click)="isComboCheck(data);$event.stopPropagation()" *ngIf="!data.incart">ADD <span class="plus_symbol" *ngIf="data.is_combo">+</span></button>
         <ng-container *ngIf="data.incart">
          <div style="width: 100px;float: right;">
          <button ion-button ion-long-press [interval]="100" (click)="minus(j,data.number,data.cart_id);$event.stopPropagation()" style="border-radius: 3px;float: left;margin-left: 10px;">-</button>  
          &nbsp;{{data.number}}&nbsp;<button ion-button ion-long-press [interval]="100" (click)="plus(j,data.number,data.cart_id);$event.stopPropagation()" style="border-radius: 3px;float: right;margin-right: 10px;">+</button></div>
         </ng-container>
            </ion-col>
            </ion-row>
            </ng-container>



            <ng-container *ngIf="groupedMenuName(i) != 'Recommended'">
               <div *ngFor="let data of menu;let id = index" id="menu{{i}}" (click)="menuDetail(data)"> 
               <ion-row>
               <ion-col col-12 style="margin:15px;text-align: left;">

            <span><img alt="" *ngIf="data.is_veg == true" src="assets/imgs/menu/veg.png" class="type dot_icon">
            <img alt="" *ngIf="data.is_veg == false" src="assets/menu_dot_red.png" class="type dot_icon">{{data.menu_name}}</span>
            </ion-col>
             </ion-row>
 
           <ion-row>   
              <ion-col col-3 style="text-align: -webkit-left;margin-left: 15px;">        
                      <p>₹&nbsp;{{data.per_person_cost}}</p>
              </ion-col>

             <ion-col col-4 style="text-align: center;">
          <button ion-button ion-long-press [interval]="100" (click)="checkInCart(data,mi,id,data.number,data.cart_id);$event.stopPropagation()" style="border-radius: 3px;float: left;margin-left: 10px;">-</button>  
          &nbsp;{{data.number}}&nbsp;
          <button ion-button ion-long-press [interval]="100" (click)="checkInCart(data,pl,id,data.number,data.cart_id);$event.stopPropagation()" style="border-radius: 3px;float: right;margin-right: 10px;">+</button>
          </ion-col>  
              <ion-col col-5 align-self-end class="ad">
              <button  class="bu" (click)="isComboCheck(data);$event.stopPropagation()">Add To Cart<span class="combo_symbol" *ngIf="data.is_combo">+</span></button>
              </ion-col>
                  </ion-row>
                  </div>  
            </ng-container>  
            <hr>
          </div>
         </ng-container>
  </ion-slide>
</ion-slides>





<!-- <ion-infinite-scroll (ionInfinite)="LoadData($event)" *ngIf="infiniteScrollEnabled" >
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ng-container>

</ion-content>
